[2017-07-26 22:41] gammazero opened #3 "Client authentication blocks"
Client authentication is performed in-line when attaching new clients to the router.  This blocks other clients from attaching while authentication is performed.  This could be an unacceptably long time in the case of CR authentication, so authentication needs to be done in a separate goroutine.

[2017-07-28 02:39] gammazero commented on #3
no longer an issue

[2017-07-28 02:39] #3 closed

[2017-07-29 22:49] gammazero opened #8 "Dropped INVOCATION needs to result in ERROR to caller."
If an INVOCATION message is dropped due to client's queue being full, this should result in sending an ERROR back to the caller, since there will never be any result (WAMP spec does not dictate how to handle this other than indicating a network error).  Optionally, an unresponsive client can be dropped after some time or some number of dropped messages.

Queue size is currently configurable, but a

[2017-08-01 03:25] gammazero opened #12 "Client cannot leave realm and join another realm"
Once a client has left a realm, it is disconnected from the router and cannot be used to join another realm.  To join a different realm a new client must be created.

[2017-08-10 16:13] #8 closed

[2017-08-18 05:21] gammazero commented on #12
Closing - declining to fix.  Current behavior is acceptable, an possibly safer.

[2017-08-18 05:21] #12 closed

[2017-10-07 03:48] gammazero opened #52 "Response to RPC incorrectly indicates progressive results."
RPC responses incorrectly have the "progress" flag set .

[2017-10-07 04:08] #52 closed

[2017-10-09 04:26] gammazero opened #55 "No way to have no timeout waiting for response to Call."
If an RPC call is made, and no timeout/deadline if given, then the default response timeout is used.  The client may want no timeout, and instead choose to explicitly cancel the call if there is no response (possibly by user action).  There is currently no way to allow this.

Also the response timeout is appropriate for a response from the _router_ not from another client.

When waiting for a resp

[2017-10-09 16:16] gammazero commented on #55
Fixed in nexus-1.4

[2017-10-09 16:16] #55 closed

[2017-10-10 01:13] gammazero opened #57 "Move router code into router package."
Currently all the router code is in the project root directory.  The client code is in its own directory/package as are some packages common to both.  Seems like the code would be better organized if all of the router-specific code was under a "router" directory.

If the router code were moved into a different package, this would break backwards compatibility and require a major version change (ne

[2017-10-10 18:28] gammazero opened #58 "Broker and Dealer API should not be exported from nexus package."
The `Broker` and `Dealer` APIs are currently exported from the nexus package, although there is no way for someone implementing a service that uses a nexus router to use these APIs.  Therefore, the broker and dealer should be moved into separate package(s) and imported by the router code, or the APIs should not be exported.  Since the API's are not usable, making either of these changes will not b

[2017-10-19 11:57] lajosbencz opened #60 "Crossbar.io config JSON"
Hello, thanks for this awesome library!

We've been using crossbar.io as our router, but i have my concerns about it's performance.
We would like to use nexusd instead, but I cannot find reference on how to register an authenticator.

I'd like to replicate this crossbar config with nexusd:

[code]

ANY help is appreciated!

[2017-10-19 12:41] lajosbencz commented on #60
I've since noticed that cookie auth is unsupported, please ignore that part of the config

[2017-10-19 17:42] gammazero commented on #60
Currently the AAT code is where examples can be found (yes, proper exampled coming soon).  Here you can see a `RouterConfig` that registers a challenge-response authenticator:
https://github.com/gammazero/nexus/blob/master/aat/main_test.go#L119-L121

It is created here:
https://github.com/gammazero/nexus/blob/master/aat/main_test.go#L100

The test authenticator implementation is here:
https://gith

[2017-10-19 19:04] lajosbencz commented on #60
Since the changes are pedantic improvements (moving router into its own namespace?), it really doesnt matter for me... :]

[2017-10-19 19:10] lajosbencz commented on #60
Since the changes are pedantic improvements (moving router into its own namespace?), it really doesn't matter to me... :]

I haven't written any serious go code yet, so my aim here would be to create a small wrapper app that can interface between the crossbar-style config and nexus router. It would be really neat if one could seamlessly migrate from crossbar to nexus.

[2017-10-20 00:49] ajgillis commented on #60
Nexus currently does not have much in terms of authenticator configuration.  Currently, you define your `Authenticator` or `CRAuthenticator` implementation and provide it to the router.  You have to do _all_ the work to implement an authenticator, including JSON encoding the `Challenge.Extra["challenge"]` string (which AAT example does not do).  It would be nice to have code that did that for the

[2017-10-20 00:50] gammazero commented on #60
Nexus currently does not have much in terms of authenticator configuration. Currently, you define your Authenticator or CRAuthenticator implementation and provide it to the router. You have to do all the work to implement an authenticator, including JSON encoding the Challenge.Extra["challenge"] string (which AAT example does not do). It would be nice to have code that did that for the implementor

[2017-10-20 02:24] gammazero commented on #58
Considering it OK to leave the `Broker` and `Dealer` APIs exported.  While someone implementing a nexus router may not be able to use the APIs, they could use the broker or dealer functionality of the nexus router in their own router.

[2017-10-20 02:24] #58 closed

[2017-10-20 02:47] gammazero commented on #57
Resolved by PR #59

[2017-10-20 02:47] #57 closed

[2017-10-20 08:25] lajosbencz commented on #60
Hopefully, yes, but give me some time, i still have to figure at some basic go concepts :]

Maybe an adapter ~~class~~ interface for config files would be the most useful, so any wamp router config could be easily migrated.

[2017-10-20 08:42] gammazero commented on #60
OK, so major overhaul of authenticators!  What was there before was really not correct.  This is much simpler.  Please see this first:
https://github.com/gammazero/nexus/pull/61

[2017-10-20 08:51] gammazero commented on #60
To implement a wampcra authenticator, all that really need to be done on the router side is to define a `KeyStore`.  Here is an example:

[code]
Then configure the router:
[code]

[2017-10-20 08:59] gammazero commented on #60
The client implementations is essentially unchanged.  The only difference is that you no longer need to write your own signing function, as one is provided now.

With a nexus client, define a function that gets when a challenge is received:
[code]
Then use that to configure a client:
[code]

[2017-10-20 09:02] gammazero commented on #60
While this does not constitute a wrapper or adaptor for crossbar config, it should make is far easier to provide one.

[2017-10-20 09:14] lajosbencz commented on #60
Much-MUCH easier, awesome, thank you!

[2017-10-20 09:16] gammazero commented on #60
I have not done interop testing yet, so if you run into any issues before I do, let me know and I will fix ASAP.

[2017-10-20 22:53] gammazero commented on #60
I have cleaned up the reworked Authenticator API, and made a small change to the client.  The API changes are now done, and have resulted in a new major release: https://github.com/gammazero/nexus/releases/tag/v2.0

You will probably want to get the updates, but they should pretty close to what you are already working with.

Not sure that including an Authbahn compatibility API as part of the nexu

[2017-11-21 20:18] gammazero commented on #60
I am going to propose closing this issue since the reworked challenge-response API should allow for a relatively simple Autobahn adaptor to be put in place for the router.

[2017-11-24 12:46] lajosbencz commented on #60
Okay, i'll let you know if i have a working solution!

[2017-11-24 12:46] #60 closed

[2017-11-27 20:09] crabicode opened #66 "SignChallenge using PBKDF2?"
Is it possible to add support for PBKDF2?

[2017-11-28 01:26] gammazero commented on #66
That should be possible. I will look into adding that.  Are you asking for this to be build into nexus, or are you asking for the API to change to make is easier to add your own challenge signing implementation?

[2017-11-28 10:53] crabicode opened #67 "Expose upgraded request"
Is it possible to expose upgraded request to session's details so that one could get meta from the request itself?

For example, it can enable cookie-auth, ip filtering and etc

[2017-11-28 17:57] gammazero commented on #67
In nexus, the session meta API `session_get` does return all session details, not just those prescribed by WAMP.  See here:
https://github.com/gammazero/nexus/blob/master/router/realm.go#L686-L691

This allows you to do some very interesting things, especially when used with the authorizer to inject custom content into the session details.  See comment here:
https://github.com/gammazero/nexus/blob

[2017-11-28 21:24] gammazero commented on #66
I am adding PBKDF2 which will be used automatically if password salting info is provided with the challenge message.  The `KeyStore` API already supports salting data, and the `CRAuth` API already includes that in the challenge message:
https://github.com/gammazero/nexus/blob/master/router/auth/crauth.go#L61-L66

[2017-12-06 03:33] gammazero commented on #67
For cookie-based auth, a random cookie could be assigned to the client, by providing a response header when upgrading the connection here:
https://github.com/gammazero/nexus/blob/master/router/websocketserver.go#L136
The cookie value can be set in the `websocketPeer` or passed to `router.Attach()` here:
https://github.com/gammazero/nexus/blob/master/router/websocketserver.go#L184

Once the client

[2017-12-10 02:40] gammazero commented on #66
To address the need for clients to deal with using PBKDF2 to create derived keys, from password and salting info, and then sign the challenge from the router, I have created a new utility function `crsign.RespondChallenge()` that takes a password and a CHALLENGE message.   If the CHALLENGE contains salt info, then the challenge string is signed with a key created using PBKDF2.

This is implemented

[2017-12-10 21:24] gammazero commented on #66
PR merged. API documented here: https://godoc.org/github.com/gammazero/nexus/wamp/crsign#RespondChallenge
and in wiki:
https://github.com/gammazero/nexus/wiki/Auth-Library#client-side-authenticator

Closing issue.

[2017-12-10 21:24] #66 closed

[2018-01-22 08:28] BenDerPan opened #69 "how is the performance under high concurrence?"
When I use nexus as a web service backend, some times ,it will throw an exception like session error,I registered a function may run for a minute, called it under a concurrence situation.

[2018-01-24 16:23] koliyo opened #70 "Compression support"
Have you considered implementing compression?

https://crossbar.io/docs/WebSocket-Compression/

[2018-01-25 21:57] gammazero commented on #70
Yes.  Nexus uses [gorilla/websocket](https://github.com/gorilla/websocket), so compression support would be provided by that package.   It is currently marked as [experimental](https://godoc.org/github.com/gorilla/websocket#hdr-Compression_EXPERIMENTAL), and only appears to allow compression to be enabled or disabled.

I will expose a configuration option, for the server and for the client, to ena

[2018-01-25 22:04] gammazero commented on #69
With high concurrence, do you mean that a router is:
1. serving a few messages to a large number of clients
2. serving a large number of messages to a few clients
3. serving a large number of messages to a large number of clients?

The answer, and the best way for me to investigate, may depend on what is being scaled up.  If you can give me a summary of what you are setup looks like, I will put to

[2018-01-26 09:26] koliyo opened #71 "Floating point arguments"
There is no `wamp.AsFloat64` function. That would be useful.

[2018-01-27 02:11] #71 closed

[2018-01-27 03:07] gammazero commented on #69
Added some basic pub/sub benchmarks, with up to 512 subscribers.  You can run like this:
[code]
See if that has any problems.

I am adding additional tests for log-running RPC methods, and will see if I can find anything there.

[2018-01-27 06:20] BenDerPan commented on #69
I have a callee written in python, and a router with nexus, caller written in js(the web side),callee method is a long running function, there are two question:
1.when more than 1 caller call it , callee site  will process it in a blocked way, not  async way.
2.when the callee returned a long string result , the session error happend, I search on the issues, may be it's the  problem of segment siz

[2018-01-30 16:24] l-vitaly opened #74 "Does it support scaling?"

[2018-01-31 03:11] gammazero commented on #69
Thank you for the details.  I will set up my tests as close as possible to your setup.

A possible solution to help with large results is to divide them into chunks and have the callee return progressive call results.  The nexus router and [client](https://godoc.org/github.com/gammazero/nexus/client#Client.CallProgress) support this, and clients like [crossbar.io autobahn](https://crossbar.io/auto

[2018-01-31 05:11] gammazero commented on #74
Depends what you mean by scaling.  If this answers your questions, then please close issue:
https://github.com/gammazero/nexus/wiki/Scaling

If not, then let me know what you are looking for.

[2018-01-31 06:29] l-vitaly commented on #74
Thanks!

[2018-01-31 06:29] #74 closed

[2018-02-01 04:15] BenDerPan commented on #69
@gammazero thanks,I will try the example.

[2018-02-06 13:11] l-vitaly opened #76 "Private Subscription"
It is necessary to have a subscription that can be read by one, can this be done somehow?

[2018-02-10 20:20] gammazero commented on #76
Do you mean to have the router limit the number of subscribers to a topic, in this case to 1?  There is not a setting to limit the number of subscribers, however, I am not sure if this is what you really need.

Publishers do have some ability to determine which specific subscribers to publish events to:
https://github.com/gammazero/nexus/wiki/Extended-Functionality

You can also exclude clients us

[2018-02-16 02:48] gammazero commented on #70
I have exposed options in both the server and client to enable compression.  This is all available in PR #77 .  After doing Pub/Sub benchmarks, enabling compression is significantly slower, at least for small messages.

WAMP messages are generally small, and therefore see little or no benefit from compression.  Enabling websocket compression for all client or server messages will generally decreas

[2018-02-17 16:39] azamat-sharapov opened #78 "ConnectLocal with no auth"
My setup is:

NexusRouter <-> NexusClient (using ConnectLocal) <-> FrontendClient (on browser, via [wampy.js](https://github.com/KSDaemon/wampy.js))

I would like to implement CR auth between NexusRouter and FrontendClient, but I don't need any auth between NexusRouter and NexusClient.

One workaround would be to use ticket auth between NexusRouter and NexusClient, but that would make ticket auth

[2018-02-17 20:32] gammazero commented on #78
I think you are right that local connection should not require auth, since it is within the same process.  I will make a change so that local clients do not require auth.  I should be able to complete this weekend.

[2018-02-17 23:41] gammazero commented on #78
Will merge #79 tonight.  Local clients will no longer require auth.

[2018-02-18 06:30] gammazero commented on #78
Please confirm this fixes this issue and close.

[2018-02-18 09:57] azamat-sharapov commented on #78
It works, thank you!

[2018-02-18 09:57] #78 closed

[2018-02-22 19:47] gammazero commented on #76
I am closing this issue, because I believe that what you are asking for can be accomplished by defining an authorizer that only allows a particular session (has specific authid or authrole) to subscribe to a topic.

This means implementing an [authorizer](https://godoc.org/github.com/gammazero/nexus/router#Authorizer) and providing it in the [realm config](https://godoc.org/github.com/gammazero/ne

[2018-02-22 19:47] #76 closed

[2018-03-03 16:07] azamat-sharapov commented on #67
How do you suggest to catch "successful auth"? I think we should have some hook for it.

[2018-03-04 16:59] azamat-sharapov commented on #67
@gammazero do you accept PR for this?

[2018-03-08 06:11] azamat-sharapov opened #83 "Setting http headers on upgrade"
I would like to set some cookies on client-side (browser) via upgrader, but I see I [can't add headers on upgrader](https://github.com/gammazero/nexus/blob/master/router/websocketserver.go#L135).

Should I send PR for this?

[2018-03-10 23:17] koliyo opened #84 "Thread saftey"
Is the API thread safe? I'm getting really strange bugs and think this may be due to data races. Eg
[code]

Do I need to serialize these calls?

[2018-03-11 03:17] ajgillis commented on #84
You should not need to serialize the calls.  It looks like the issue is in the use of the ID generator.  I will fix this now.

[2018-03-11 03:20] gammazero commented on #84
You should not need to serialize the calls. It looks like the issue is in the use of the ID generator. I will fix this now.

[2018-03-11 04:29] gammazero commented on #70
Fixed by merged PR #77.

[2018-03-11 04:29] #70 closed

[2018-03-11 06:39] #84 closed

[2018-03-11 06:42] gammazero commented on #67
@azamat-sharapov If you have a PR or a design in mind, then let's figure out how best to do this.

[2018-03-11 06:45] gammazero commented on #83
PR or discussion.  Since this is useful to multiple parties, see #67, let's design a good interface for doing this.

[2018-03-11 13:16] azamat-sharapov commented on #83
I've opened PR #86. If you think this is not right way, please let me know :)

[2018-03-11 13:22] koliyo commented on #84
Great! Please also add some unittesting for the client which does large amounts of concurrent RPC calls and topic publishing from multiple coroutines. That would help guarantee the functionality.

You probably need to bypass the local transport for this, and use WebSocket transport.

[2018-03-11 13:24] azamat-sharapov commented on #67
@gammazero I was thinking to extend `KeyStore` interface with a func (say, `OnWelcome`) and call it after successful login ([crauth](https://github.com/gammazero/nexus/blob/master/router/auth/crauth.go#L101), [ticket](https://github.com/gammazero/nexus/blob/master/router/auth/ticket.go#L87)). It could accept `welcomeDetails`. What do you think?

[2018-03-11 17:24] gammazero commented on #67
@azamat-sharapov Extending the KeyStore seems reasonable.  Wondering is some larger change in the auth interfaces is needed.

I was thinking that the router would look for a specific cookie (having a documented name) in the request headers, and then use the cookie's value to look up auth information.

[2018-03-12 05:09] azamat-sharapov commented on #67
@gammazero I think we still need to expose handshake request to KeyStore somehow.. Here is how I imagine cookie auth:

1. When upgrading to WS, we write random cookie to Response
2. Client tries to auth (CR or ticket) and on successful auth, we call `OnWelcome(welcomeDetails, handshakeRequest)` (plz mind `handshakeRequest` here)
3. In OnWelcome func, we will have that cookie generated _for this co

[2018-03-12 06:33] gammazero commented on #67
For cookie auth, this flow is what I was thinking, and it can be done without breaking backwards compatibility.  I am happy to make changes to nexus auth implementation to make it more useful.

I am not sure that we want to expose the handshake request to KeyStore, since the cookie auth bypasses using KeyStore.  In other words, KeyStore is what provides access to keys the router needs for authenti

[2018-03-12 06:34] gammazero commented on #83
PR #86 merged.

[2018-03-12 06:34] #83 closed

[2018-03-12 06:38] azamat-sharapov commented on #67
No, I haven't started anything related to it, wanted to discuss first. But I'll leave it to you, since I'm not pro with golang yet :)

[2018-03-12 07:19] gammazero commented on #67
Before I start, what do you see as the responsibility of `OnWelcome`?  So far is seems that it should store cookie in DB for authid, and update expiration time whenever cookie used.  Stored data will include handshakeRequest and sessionDetails. What else?
- Does `OnWelcome` need to be an interface that an implementation can be provided for, or should `OnWelcome` be a private function in the router

[2018-03-12 07:44] azamat-sharapov commented on #67
It should interface, not private, because one could do more on user land, like updating more records in database, etc.

Configurable. I think it should default to `0`, making it "required option".

Would like that to be configurable too.

Yes!

[2018-03-12 08:38] gammazero commented on #67
I think that if client presents cookie that is found in database, then authid requested by client must match authid saved with cookie.  If we do not do this, and login the client with the authid of the cookie, this may cause unexpected results when the client gets logged in as a different authid than the one that was in the HELLO.

[2018-03-12 08:41] azamat-sharapov commented on #67
I also thought about this, but while creating a cookie, we yet don't have authid. User will provide authid over websocket connection, while authenticating using CR/ticket.

[2018-03-12 08:43] azamat-sharapov commented on #67
Also, I'm using `gorilla/session` for this scenario, it encrypts cookies.

[2018-03-14 21:48] l-vitaly opened #87 "Why is not authid in details when using disclose_caller?"

[2018-03-15 04:56] #87 closed

[2018-03-18 10:42] gammazero commented on #67
Tracking cookies can be enabled to identify returning websocket clients.  When enabled in the router, a random cookie is sent in the websocket upgrade response.  The client can return the cookie in subsequent websocket requests.  This may be used by authenticators to determine that a client is already authenticated, and bypass CR or ticked auth.  The tracking cookie can be used for whatever purpos

[2018-03-20 01:54] gammazero commented on #67
@crabicode, @azamat-sharapov I think #88 has what you are looking for.  See comment on PR.

[2018-03-20 14:37] azamat-sharapov commented on #67
@gammazero Thanks! I've looked through and looks like it's what I'm looking for. However, for my case, I had to create custom Authenticator, since CR or ticket didn't work (I created BcryptAuthenticator, because existing auth methods don't work with stored password hashes). Now I need to integrate cookie auth into it.

[2018-03-20 17:04] gammazero commented on #67
OK, this will give you all the ability to integrate cookie auth (as well as use other request info like headers) in your authenticator.  For the tracking cookie (that can be used as auth cookie) it is generated for you, since the response to the upgrade request must be sent back before your auth functionality is ever called.  So, you store the nextCookie once the client is authenticated.

The KeyS

[2018-03-21 05:12] azamat-sharapov commented on #67
@gammazero I successfully integrated cookie auth to my custom authenticator (it's very similar to ticket authenticator), with the help of your tests. Looking forward to see this on master branch soon. Thank you!

[2018-03-21 18:48] gammazero commented on #67
That's great news.  I will see if @crabicode has anything to say in the next day, give this a final review, and then merge!

[2018-03-24 19:56] gammazero commented on #67
Resolved by PR #88

[2018-03-24 19:56] #67 closed

[2018-03-24 20:24] gammazero opened #89 "Router should abort connection/session on WAMP protocol violation."
When there is a protocol violation, the router should abort the session (if established) and client connection on a WAMP protocol violation.  Protocol violations are caused by such things as the router receiving a message other than HELLO before session established, receiving a HELLO after session established.

In all such cases WAMP implementations:

1. MUST send an `ABORT` message to the offendi

[2018-03-24 20:52] gammazero commented on #89
Resolved by PR #90

[2018-03-24 20:52] #89 closed

[2018-04-02 14:15] azamat-sharapov opened #91 "Get session ID in InvocationHandler"
Is it possible to somehow pass session ID (that is created [here](https://github.com/gammazero/nexus/blob/e8d9fe460c6512645f238ed8a91c3086381f45c3/router/router.go#L250)) to InvocationHandler?

My goal is to store some data in memory for each session (`data map[wamp.ID]SomeData`) so that I can then access that data in InvocationHandler, like following:

[code]

[2018-04-02 18:05] ajgillis commented on #91
Since you already have `*client`, that you used to register the invocation handler, you can call `callee.ID()`, where your client is `callee`.
https://github.com/gammazero/nexus/blob/master/client/client.go#L207

Usually the handlers are defined as closures, which is the reason that the client is not passed into the function as an argument.   Example follows:
[code]

[2018-04-02 18:15] azamat-sharapov commented on #91
The problem is that I need session ID, not client ID. Clients come from browser (websocket peer) and each time they authenticate, session ID changes, but client ID stays the same (local peer).

[2018-04-02 18:30] ajgillis commented on #91
OK,  I see. You want your `callee` to get the ID of the `caller` session.  That way that works in WAMP is for the _Callee_ to request `disclose_caller`, and for the _Caller_ to request `disclose_me`.
https://github.com/gammazero/nexus/blob/master/client/client.go#L431-L432
https://github.com/gammazero/nexus/blob/master/client/client.go#L588-L589

The _Callee_ needs to set `options["disclose_caller

[2018-04-02 19:23] GFariasR opened #92 "HTTP RESTful bridge to WAMP"
I was not sure where to post a question, so I decided to open an issue instead.

I am looking for a WAMP router that can take a HTTP POST request (with the payload needed to identify an RPC URI) and transform that into an existing WAMP.

My understanding is this is not part of the WAMP protocol.

My question is: does NEXUS support this API?

Thanks,

[2018-04-03 07:15] azamat-sharapov commented on #91
`disclose_caller` option is what I need, thanks! Just one last question: can I somehow catch "session lost", so that I could provide callback to keep data store clean by removing invalid sessions?

[2018-04-03 17:04] ajgillis commented on #91
I believe what you are looking for is the WAMP feature called "Testament":
[code]

http://wamp-proto.org/static/rfc/draft-oberstet-hybi-crossbar-wamp.html#testament

If this is what you need, then I will implement this.

[2018-04-03 17:44] azamat-sharapov commented on #91
"Testament" is similar, but probably won't work for my case.. What I mainly need is to get invalid/obsolete session IDs and remove them from local variable. But looking at wamp docs, I see "session meta events", which include `wamp.session.on_leave` and `wamp.session.list`. Is it possible, that *only* local nexus client subscribes to them? and if other peers (websocket peers, coming from browser)

[2018-04-03 18:55] ajgillis commented on #91
Seems like that would work.  Have your local clients subscribe to the `wamp.session.on_leave` meta event, and use the `wamp.session.list` meta procedure to get the initial list of sessions.

If you need to enforce that _only_ local clients can subscribe, then use an authorizer to excluded non-local clients.  Local clients do not require authentication, and are always assigned:
[code]

[2018-04-03 20:47] gammazero commented on #92
The short answer is no, nexus does not support that.  However, that can be implemented in the HTTP POST handler that talks to nexus.

It sounds like you want something that sets up the websocket, establishes a WAMP session, and then invokes RPC functionality all in one step, using data provided in POST.

Your code that handles the POST would need to perform those steps as part of handling the POST

[2018-04-03 22:10] GFariasR commented on #92
Thanks for your response. I will investigate the path you proposed.

[2018-04-03 22:10] #92 closed

[2018-04-04 08:17] robfra31 opened #93 "Compatibility between Nexus and Angular 5 using AutobahnJS"
Hello,
Did you ever heard about someone trying to use Nexus server with Angular 5 and AutobahnJS library ?
I tried and had some problems:
- From front (Angular app) I have the error: WebSocket connection to 'ws://localhost:8080/ws' failed: Error during WebSocket handshake: Unexpected response code: 403
- From back (Nexus server) I have the error: 2018/04/04 10:12:22 http: multiple response.WriteHe

[2018-04-04 16:29] gammazero commented on #93
I have not had any other reports of this, and I have used nexus with Autobahn Python.  Have not tested with Angular 5.  Nexus uses the [gorilla websocket](ttps://github.com/gorilla/websocket) implementation, so perhaps there is an issue there as that handles the websocket handshake.

I will look into it.  This may offer some info: https://www.reddit.com/r/golang/comments/2j0v46/the_origin_not_allo

[2018-04-04 16:51] azamat-sharapov commented on #91
Appreciate your help, meta event and procedures worked for my case.

[2018-04-04 16:51] #91 closed

[2018-04-04 17:04] gammazero commented on #93
Nexus is using the default Upgrader behavior for handling the origin header from the websocket upgrade request.  The behavior is documented here:
https://godoc.org/github.com/gorilla/websocket#Upgrader
[code]
So, it appears that in your case the origin host != request host.

There is currently no way to specify your own `CheckOrigin` function to the nexus router, so looks like I should add this fe

[2018-04-05 15:24] robfra31 commented on #93
It is not possible to directly define this when creating the Nexus server via the nexus.json file ?

[2018-04-06 01:14] gammazero commented on #93
nexus does not supply an implementation of `CheckOrigin`, so that is something a router implementer would currently need to supply.

So, realizing that is something that may be needed in nexusd, I could provide an implementation and allow it to be configured via JSON config. It would only be able to do basics, like allowing from a list of origins, or origin patterns.  Otherwise, I would be making

[2018-04-06 04:53] gammazero commented on #93
Here is what I am considering as a solution.  I will add a function to the WebsocketServer that can be used to allow origins that match any of the glob patterns given:
[code]
In nexusd config JSON you can specify:
[code]
If you want to try this out, it is in the branch: https://github.com/gammazero/nexus/tree/serverconfig
Does this seem to do what you need?

[2018-04-06 22:28] gammazero commented on #93
I have moved the code to allow origins into the nexusd code, in `wsutil`, since that is only one of innumerable possible ways someone may want to implement a CheckOrigin function.  Maybe they would rather query a local DNS, or database, etc., so best to let implementor provide this.  The code can still be used in a custom implementation as if it is useful.

[2018-04-10 16:06] gammazero commented on #93
I have not tried the AutobahnCpp lib yet.  Nexus should produce logs about any client errors.  Here are some samples:

[code]
[code]

If you enable `debug` in the realm config, then you can see more information including when a new client session is created:
https://github.com/gammazero/nexus/blob/serverconfig/nexusd/etc/nexus.json#L26

Also fixed a couple errors in above file, which may have been

[2018-04-23 08:03] robfra31 commented on #93
Hello,
So, I still can't use Nexus server with Autobahn Libraries Cpp and Java. I have added logs flag in the server config but nothing is printed.
Do you have any code example with Autobahn Cpp and Java which is working ?
Thank you very much !

[2018-05-04 00:53] gammazero commented on #93
Can you give me a link to any code you are trying to make work.  If I could build that and debug maybe I could solve this (plus get some good interoperability testing).  Java or C++ is OK, preferably whatever is simplest code that exhibits problem.

[2018-05-04 07:26] robfra31 commented on #93
I am trying the code gave by Autobahn:
- Java (https://github.com/crossbario/autobahn-java):
`public void main() {
    // Create a session object
    Session session = new Session();
    // Add all onJoin listeners
    session.addOnJoinListener(this::demonstrateSubscribe);
    session.addOnJoinListener(this::demonstratePublish);

    // finally, provide everything to a Client and connect
    Clien

[2018-05-06 22:29] gammazero commented on #93
I was able to get the Java demos working with a nexus router, and with the java authbahn client communicating with another nexus client, without making any changes to nexus.  I think the issue you are having has to do with how the autobahn examples run.

The autobahn demo runs in a docker container that expects to be bridged to their demo router container.  Notice they run their demo client contai

[2018-05-07 13:17] #93 closed

[2018-05-08 23:13] martin31821 opened #97 "Wrong deserialization when using msgpack"
Using msgpack to deserialize dictionaries gives objects of type `map[interface{}]interface{}` whereas json (and possibly cbor too, I haven't tested yet) yield `map[string]interface{}`.

This leads to the following problem:
When I have a client `A` connected to the router `R` using msgpack and a client `B` connected to `R` using json (e.g. a browser) there is the possibility that `R` decodes some d

[2018-05-09 04:33] ajgillis commented on #97
Yes please PR. Then you get credit for fix.

[2018-05-09 04:36] gammazero commented on #97
Yes please PR. I would be happy to add that, but it would be good if you get credit for fix.  I need to make sure there is a unit test that covers that case.

[2018-05-09 08:15] #97 closed

[2018-05-13 15:11] HollowTooth opened #99 "Unsuccessful client disconnect"
Hi!

I'm having a bit of an issue with the Nexus router and/or client.
I regularly program my code on a laptop, and whenever I accidentaly leave a client (running on the laptop) online, and close the laptop (hibernate), whenever I reopen the laptop, or even if I don't and try to connect that same client (with the same RPC functions), the router returns a procedure_already_exists error. It wouldn't

[2018-05-13 23:06] gammazero commented on #99
Normally when the client session dies, due to socket being closed, the router will clean up the client's session, which will also clean up any subscriptions and registrations.  I will look into this right away to see if this is not behaving correctly.  Thank you for reporting it.

[2018-05-14 21:44] gammazero commented on #99
When the client running on your laptop goes offline, it does not close the websocket (or TCP socket) connection; a FIN packet is not sent to the server.  The server does not know the client is gone, and maintains the session and all registrations and subscriptions.  Eventually, the TCP keep-alive on the websocket fires, retries, retries, and eventually the server drops he connection when it determ

[2018-05-14 22:05] gammazero commented on #99
A way to test this is to connect your client, running on your laptop, to a nexus router running somewhere else.  Then turn off wifi or unplug laptop network and kill the client. Re-enable network and see how long it takes for server to detect dead client.  Then adjust the server keep-alive time to your preferences and restart the server.

[2018-05-15 04:57] gammazero commented on #99
I merged PR #100.  Set the websocket server keep-alive like this:
[code]
If this works for you, please close issue.

[2018-05-15 05:56] gammazero commented on #69
The behavior under high concurrency is primarily dependent on the implementation of the clients.  The nexus router simply routes invocations to the appropriate callees. If large numbers of invocations are handled by the same callee, then these are all sent.  It is up to the callee implementation to handle the invocations concurrently or not, and send the results back to the router.  The router the

[2018-05-15 05:56] #69 closed

[2018-05-15 11:35] HollowTooth commented on #99
First of all, thanks for responding soo quickly!
Secondly, I did some tests today with PR #100 .
The client DID successfully reconnect, but only after 3~4 minutes (I set the `.KeepAlive` to 10 seconds).
I'm guessing that the keep alive has a certain amount of tries before it defines the session as closed ?

I'll just use put the keep alive to a second, and hope it can reconnect as fast as possible

[2018-05-15 11:35] #99 closed

[2018-06-07 08:23] HollowTooth opened #105 "wamp.error.network_failure"
Hello again :)

I'm trying to troubleshoot the error `wamp.error.network_failure`. I was just wondering, what exactly causes this error to appear. Does this imply a limitation on resources (network too crowded), or is there a problem with a client not responding ? (this error mostly appears after every RPC call I make to a nexus client (from AutobahnJS frontend). I have quite a lot of nodes connec

[2018-06-07 19:21] gammazero commented on #105
This error happens when the _callee_ client is not handling RPC requests.  The code where this happens is here: https://github.com/gammazero/nexus/blob/master/router/dealer.go#L639

The nexus router maintains a small outbound channel, per client, which should be sufficient to handle bursts of messages to each client.  However, if a client is handling requests slowly, or not at all, and there are e

[2018-06-09 04:06] gammazero commented on #105
Hello @HollowTooth,

Checking to see if you have any more information on the problem you were experiencing.  If there is some testing I can do to make sure there is not a problem with nexus, or with the way nexus interacts with specific clients, please let me know.

[2018-06-12 22:24] gammazero opened #107 "Local sessions should bypass authorization by default."
Local clients (those that are part of the same application implementing the router) should not require authorization, even if an Authorizer has been provided for the router. Since local sessions are part of the router application they should be able to decide whether or not to send a message instead of depending on the authorizer to do this.  More importantly, by not requiring authorization local

[2018-06-12 23:33] #107 closed

[2018-06-14 01:52] gammazero commented on #105
I am looking to see what kind of client-side improvements can be made regarding concurrency, and was thinking more about this issue.  One thing that may cause your RPC it is if your client is receiving events that is has subscribed to, and these events are not being handled.  The client will block processing additional incoming messages, such as RPC requests, waiting for an event to be handled (us

[2018-06-14 11:59] HollowTooth commented on #105
Hi :)

Regarding the issue, the problem was purely on my end. You last comment about handling events recieved, and an event blocking the goroutine was the cause of the problem indeed. Although your idea, to have a offhandling channel has it's pluses, the size of said channel would have to be predefined.

In my case, the problem was an "accidental" infinite loop regarding some interfaces and a math

[2018-06-14 14:04] gammazero commented on #105
Thank you for the feedback.  Since the current API already gives the caller the ability to do offloading themselves, nexus does not require changes.  As always, any suggestions for improving this WAMP implementation are very welcome.  Closing issue.

[2018-06-14 14:04] #105 closed

[2018-06-18 14:46] martin31821 opened #112 "Access to nexus structure members"
I (and @johannwagner) am developing an advanced wamp router providing more useful meta features and some extended authentication features. For this use case (specifically extending nexus) it would be useful to have access to the local realm object members (https://github.com/gammazero/nexus/blob/master/router/realm.go#L62) such as the list of session objects.

Specific use case is that I want to p

[2018-06-18 17:29] gammazero commented on #112
In order to provide administrative capabilities on top of the nexus router, to do things like active session termination, I would prefer that the realm exposes a well-defined API, instead of giving access directly to internal data members.  It will be much easier to continue to support an API, even if internal structures need to change.  Whereas, if implementers depend on access the internal membe

[2018-06-19 08:35] martin31821 commented on #112
An API would be enough for our specific use case and (ofc) we want to create an extension to the session meta API and finally get it accepted upstream.

[2018-06-19 10:34] gammazero commented on #112
Here is what I propose to implement:

The API `Realm.TerminateSession(sessionID wamp.ID, reason wamp.URI, message string) error` should be sufficient. The `reason` argument is the URI used as the `GOODBYE.Reason`.  The message argument will be put into `Goodbye.Details` under the key "message".

A session-meta procedure, `"wamp.session.kill"`, will also be registered.  That meta procedure will tak

[2018-06-21 08:18] gammazero commented on #112
OK, so looks like this will become part of WAMP specification soon.  Look what you two started!

[2018-06-22 00:17] gammazero commented on #112
Here is a PR to add new session meta procedures to WAMP specification: https://github.com/wamp-proto/wamp-proto/pull/315

[2018-06-23 14:42] johannwagner opened #114 "Router: No matching caller for invocation"
Hey,

I just ran into a bug, where the invocation of a function does *not* work in the first time, but works fine afterwards.

Nexus logs: `2018/06/23 14:31:51 !!! No matching caller for invocation from YIELD: 16`
[Entire Logfile](https://gitlab.ci.server.creatdev-solutions.com/snippets/5)

I thought it is maybe an error, because the client dies, but the client seems fine. I use [wampy.js](https:/

[2018-06-24 03:41] gammazero commented on #114
I want to fix any bug ASAP.  Do  you have a test to reproduce, or can you modify any of the existing test in `aat/`, maybe `aat/rpc_test.go` to show the problem?

[2018-06-24 04:01] gammazero commented on #114
I think I see the problem:  There are two CALL messages each submitted with the same Request ID (3 in the log).  The first YIELD that received deletes the mapping from Request ID to pending call:
https://github.com/gammazero/nexus/blob/master/router/dealer.go#L752-L753

The the second YIELD no longer has a mapping for Request ID 3.  This look like a bug in the client, as the Request ID should be d

[2018-06-24 05:32] #114 closed

[2018-06-24 19:08] johannwagner commented on #114
Thanks a lot for the quick fix. Works like a charm!

[2018-06-25 16:06] johannwagner opened #116 "Router: Authorizer gets recreated on every call"
Hey,

I just tried to create an Authorizer, which contains state, which is not static.
I ran into the problem, that some references weren't set correctly and I discovered, that the Authorizer is recreated on every single call. It gets an different pointer address, obviously, and the state is different.

[code]

This creates the following log files: https://gitlab.ci.server.creatdev-solutions.com/s

[2018-06-25 16:41] johannwagner commented on #116
Nevermind, it was a bug in my code, where I did not use a reference from my authorizer.

[code]
It works fine and correct.

[2018-06-25 16:41] #116 closed

[2018-06-29 05:31] gammazero commented on #112
I have a working implementation for all of this.  I am hesitant to have the router expose any new API if the session meta API is sufficient for this.

[2018-06-29 12:32] CMon opened #120 "The installation from "Quick Start" does not work"
if I run:
`go get github.com/gammazero/nexus`

i get the following error:
`can't load package: package github.com/gammazero/nexus: no Go files in /home/<user>/go/src/github.com/gammazero/nexus`

so I guess it should be something like:
`go get github.com/gammazero/nexus/nexusd`
in the docs?

if I try the line with the nexusd then afterwards there is no nexusd folder to switch to so the whole Quick

[2018-06-29 15:49] martin31821 commented on #112
Nevertheless it would be good (for our specific use case) to have access to the sessions used within the router (think about adding/removing/changing authroles at runtime or other session details).
/cc @johannwagner

[2018-06-30 02:46] gammazero commented on #120
That needs to be `go get github.com/gammazero/nexus/...`  Will fix now.

[2018-06-30 03:13] gammazero commented on #120
Thank you for raising this issue.  If you run into any other problems getting things started/running/configured, let me know and I will be happy to help.  If this and any related issues are fixed, please close this.

[2018-06-30 08:33] martin31821 commented on #112
Administrative API is a pretty good summary for our project, I think. Ofc we try to stick to the session meta procedures as far as possible. At the moment I don't even know whether our code/idea works out in the end, since there are lots of edge cases which need to be handled properly. Maybe we start with a fork and try to see what members need to be exposed.

However, it's great to see the kill A

[2018-06-30 08:41] johannwagner commented on #112
Yep, good work! I look forward to implement and integrate this into my existing application! Many thanks!

[2018-07-02 16:24] gammazero commented on #120
Wow, did not realize how much has changed since the readme was last edited.  I will go through and update the whole thing as soon as I have a moment.  Thanks again.

[2018-07-04 03:13] gammazero commented on #112
PR https://github.com/gammazero/nexus/pull/123 provides all the new session kill meta procedures. A new session meta procedure, `wamp.session.modify_details` is provided to allow a session's details to be modified.

I did not provide a router/realm API, since the session meta API already provides access to the admin functionality discussed in this issue.   A local (in process) client calling the s

[2018-07-04 04:37] gammazero commented on #112
The `wamp.session.modify_details` seems particularly dangerous.  Probably necessary to at least prevent modification of the session ID.  This is something that should require client authorization, as it would be bad for clients to change their `authid` and `authrole` to have privileges that they should not.

Maybe the modify_details API is not such a good idea as a session meta API.  I think that

[2018-07-04 06:38] martin31821 commented on #112
I'd really like to have this endpoint, but IMHO we should check the authrole of the caller to be trusted, so it is possible to use it within an embedded context, but not from the outside world. If a user wants to have it accessible, he needs to create custom code which performs vulnerability  checks.

But having them enabled explicitly would also be fine for me.

Furthermore I agree that the sessi

[2018-07-04 06:56] martin31821 commented on #112
I just read your changes and in fact it looks very promising. Session ID can't be changed since it's not contained within the details dict of the session, so that is not a problem.

[2018-07-04 07:12] gammazero commented on #112
I guess the modify meta procedure is not that much more dangerous than the kill procedures, so you can have it.  It must be enabled separately:
https://github.com/gammazero/nexus/pull/123/files#diff-d3b9b3ec2dcc8b044cc18aad595af3d3R54

[2018-07-05 16:57] #120 closed

[2018-07-06 03:35] gammazero commented on #112
Finally merged.  If this provides everything you need, please close issue.  Enjoy.

[2018-07-06 04:04] goldcode88 commented on #120
"go get github.com/gammazero/nexus/..." didn't work in OSX. Nothing to be got.
1.OSX 10.12.6
2.go version go1.10.1 darwin/amd64

[2018-07-06 06:55] martin31821 commented on #112
Looks great, thanks!

[2018-07-06 06:55] #112 closed

[2018-07-06 09:55] goldcode88 opened #125 "ticket dynamic authentication like crossbar.io"
how to implement ticket dynamic?  "user.token.authenticate.d10" is provided by client in autobahn.py.
In nexus, I think "user.token.authenticate.d10" should be implemented in nexusd router. But no example can be referenced.

crossbar.io config.json partially.
                    "auth": {
                        "anonymous": {
                            "type": "static",

[2018-07-06 13:55] gammazero commented on #125
This is definitely something I need provide both examples and additional documentation for.  Until then, probably the best help is to look at some of the test code.

Client that tests simple CR auth handler:
https://github.com/gammazero/nexus/blob/master/aat/auth_test.go#L28

On the server side, a very simple CRAuthenticator is defined, and given a [`KeyStore`](https://github.com/gammazero/nexus/b

[2018-07-07 12:39] martin31821 commented on #125
In our advanced router (to be open sourced soon) there is dynamic ticket authentication, as well as TLS authentication using a custom PKI, maybe you want to use this...

[2018-07-07 17:33] gammazero commented on #125
@martin31821 I would be very interested to see how your authentication system fits with nexus.

I think the current ticket/CR authentication interface could be improved and made much easier to work with. TLS support is provided, but is basically what the golang stdlib provides, so having something that is better integrated into the rest of the auth stuff could be a good improvement.

[2018-07-07 17:57] martin31821 commented on #125
I'lll see if I can get this into a good shape within the next week :) should work, we have currently docker images which are production ready

[2018-07-07 18:49] gammazero commented on #125
@goldcode88 It looks like there is one thing nexus is missing to be able to provide dynamic ticket authentication as described in Crossbar.  That is specifically the ability to make the ticket available in the session details after authentication success.  If that is done, the the ticket can be used in the authorizer for the authorization of each message.  I will fix this!

All of the other inform

[2018-07-08 10:15] goldcode88 commented on #125
@gammazero @martin31821 Thanks!
I have implemented wampcra just now. Autobahn js client can connect to nexus server by wampcra authmethods.
"wampcra": {
                            "type": "static",
                            "users": {
                                "authenticator": {
                                    "secret": "******************",
                                    "role":

[2018-07-08 10:30] goldcode88 opened #126 "anonymous connect nexus server returned error"
The following code runs successful in crossbar.io. But when I connected to nexus server, server returned error.
"2018/07/08 18:08:33 Error upgrading to websocket connection: websocket: request origin not allowed by Upgrader.CheckOrigin
2018/07/08 18:08:33 http: multiple response.WriteHeader calls"

Authbahn js client receives "failed: Error during WebSocket handshake: Unexpected response code: 403

[2018-07-08 15:51] martin31821 commented on #125
Just pushed it: https://github.com/EmbeddedEnterprises/autobahnkreuz. However, docs are still lacking, we're working on it.
Docker image is available on docker hub, feel free to play with it.

[2018-07-08 16:19] goldcode88 commented on #125
Thanks.
wampcra's config is a little complex. I change testKeyStore to CraKeyStore. CraKeyStore is compatible with crossbar's wampcra model.

type testKeyStore struct {
	provider string
	secret   string
	ticket   string
	cookie   *http.Cookie

	authByCookie bool
}

type CraKeyStore struct {
  provider string
  users    map[string]CraUsers
}

type CraUsers struct {
  role     string
  secret   stri

[2018-07-09 02:58] goldcode88 commented on #126
I have solved it.
In nexus config.json. Modified "allow_origins": ["xx.xxx.com"]  into "allow_origins": ["xx.xxx.com:8900"].
Login on "http://xx.xxx.com:8900" in Browser. It returns ok.
In "vendor/github.com/gorilla/websocket/server.go", function checkSameOrigin(...).

[code]
So if we set  "allow_origins": ["xx.xxx.com"] or [], nexus will execute checkSameOrigin. It always returns false. When clie

[2018-07-09 03:22] gammazero commented on #125
One note of caution... If putting ticket into session details, then it will probably be necessary to enable `MetaStrict` in the [RealmConfig](https://godoc.org/github.com/gammazero/nexus/router#RealmConfig).  At this point I am thinking that making `MetaStrict=true` be the default/only behavior and if it is necessary for additional values from the session meta API, then explicitly list these in `M

[2018-07-09 04:45] gammazero commented on #125
@martin31821 The `autobahnkreuz` API look like it will make things simpler for the user.  I see that your `AnonymousAuth` is providing a list of authroles:
https://github.com/EmbeddedEnterprises/autobahnkreuz/blob/master/auth/anon.go#L15
Is that something new in the WAMP spec or is this specific to your router?

[2018-07-09 07:08] gammazero commented on #125
@martin31821 Yes, certainly want keep support for list of authroles.  My concern was was about what what to return in session meta events: `wamp.session.get` specifically calls for authrole to be returned as string.  What do you return?
https://wamp-proto.org/static/rfc/draft-oberstet-hybi-crossbar-wamp.html#wampsessionget

[2018-07-09 12:03] HollowTooth opened #128 "RPC-progression blocked in router"
Hello again :)

I've been testing progress RPC in nexus, and came across a bit of a problem.
I wrote up an example code:

[code]

This code will block indefinitely, if the clients are not ran where the router is. Out of 10 tries, on a local machine, it only blocked twice in my case. Progress is being sent to fast, and the router sometime blocks requests. If that happens, `x.CallProgress` might nev

[2018-07-09 12:21] HollowTooth commented on #128
Hello again.

I have managed to figure out, where my issue was. The callee was a local database client, that sent every x amount of rows through progress. The caller was a nexus node, that lives in another country. Even if the progress that I receive on the caller is sent to a different goroutine (or makes a new goroutine to handle it), the data transfer is still too slow.

The problem with `x.Cal

[2018-07-09 16:14] martin31821 commented on #125
The current implementation just returns the list, which is exactly what is desired. Maybe It would be feasible to add this to the spec, but I don't know what the maintainers think of this...

[2018-07-09 18:02] gammazero commented on #128
I am happy to hear you figured out the issue.  If there is any way I could make things easier, to use or to diagnose problems, I will consider any suggestions. Feature requests are always welcome, just open an [issue](https://github.com/gammazero/nexus/issues).

[2018-07-09 18:38] gammazero commented on #126
What I have seen in other router implementations using nexus, is to match _any_ origin if support of CORS is enabled.  That is done by supplying a function that returns `true` regardless of origin.  If using `wsutil` the same can be done by specifying `["*"]`.

If you do want to limit to certain specified origins, but have a port in the URI, one thing you can do now is specify a wildcard for the p

[2018-07-09 18:55] gammazero commented on #125
@martin31821 Maybe there is a why to have it both ways? The session details could contain two different items: `authrole` and `authroles`.  The first, `authrole`, would be the "effective" authrole and the second would be all the authroles that the client has membership in.  This would be similar to the Unix group concept:
[code]
An administrative meta procedure (`wamp.modify.session_details` perha

[2018-07-09 22:05] gammazero commented on #125
@martin31821 Yes, primary vs others is what I had in mind. Anyway, I think the current implementation is best since it does not force the session details to be any particular type, as long as they serialize.  This allows whatever flexibility the router implementer needs.

[2018-07-10 02:55] goldcode88 commented on #126
Thanks!
I think ["*.somewhere.com:*"] is ok.  "port ranges" is not necessary.

About wsutil, nexus(current version) seems only support one router(one worker process). In this case, putting wsutil under nexusd is ok. One router is enough in most of scenarios.
If nexus has a plan to support multiple workers model, wsutil should be put into router/.
Multiple workers' model I thought is from crossbar'

[2018-07-10 05:34] gammazero commented on #126
Just to be clear, when I said `["*.somewhere.com:*"]`, I literally mean use the asterisk `*` wildcard character.  Using that for the port will allow _any_ port, but does not allow specification of only certain ports.

As far as multiple workers...  You are correct that each instance of nexus (each router process), only supports a single router.  However, each router supports all possible transport

[2018-07-10 07:14] HollowTooth commented on #128
Well, I am looking into the WAMP spec, if there is any mentioning of the caller (or the router) returning a ProgressRecieved message or anything like that, but no luck so far.
Without the callee knowing, if the message went through, there is no elegant way to fix this.
I was thinking, of having a pubsub channel, dedicated to this one RPC call, rothe caller sends a received message to the callee.

[2018-07-10 08:58] goldcode88 commented on #126
I got it. Multiple nexus instances for multiple workers is a simple and clear solution. Thanks.
About specific ports, current solution can be satisfied for most of  scenarios.
If we only concern domain name, just use ["*.somewhere.com:*"].
If we have several ports, we can list all of ports exactly.
[code]
Sometimes Port is discontinuous. So I think "port ranges" API is a user-friendly function, bu

[2018-07-10 12:37] gammazero commented on #128
No, there is anything like a "ProgressReceived" message sent back to the callee.  WAMP also does not allow sending error in response to YIELD message.

You may also consider using the Testament API to notify any callees of the disappearance of a caller.  On receiving a testament event, callees can stop sending progressive results to the disappeared client.

[2018-07-10 12:37] #128 closed

[2018-07-10 13:30] gammazero commented on #126
I have added comments, examples, and unit tests for origins with ports.  Here is the new documentation: https://godoc.org/github.com/gammazero/nexus/nexusd/wsutil#AllowOrigins

I am considering moving this functionality into the [`WebsockerServer`](https://godoc.org/github.com/gammazero/nexus/router#WebsocketServer)

So, instead of doing this:
[code]
Code would be this:
[code]

One could still def

[2018-07-10 14:53] goldcode88 commented on #126
From my understand, the new implementation is like this.

[code]

From my opinion, It's no different on CORS feature for websocket between the new and the old implementation. Maybe I misunderstand your mean.

[2018-07-10 18:51] gammazero commented on #126
I have not changed the implementation.  I was asking if would be easier to have the `AllowOrigins()` be a method of `WebsocketServer` or if `AllowOrigins` should remain in a separate package (`wsutil`).

[2018-07-11 02:16] goldcode88 commented on #126
Got it. I prefer to moving this `AllowOrigins()` into the `WebsockerServer`.

[2018-07-13 07:22] gammazero opened #131 "Need to stop progressive results from callee if caller closes"
If a callee is responding with progressive yields, and the caller receiving the results closes, then the callee has no way to know to stop sending progressive yields.  The router can discard the messages, but they may continue to be sent for an undetermined time.  Recurring connect, call, disconnect cycles can build up callees streaming results to dead callers.

The solution to this problem is dis

[2018-07-13 07:22] gammazero commented on #128
related #131

[2018-07-16 16:40] gammazero commented on #131
Fixed by #130

[2018-07-16 16:40] #131 closed

[2018-07-18 14:04] dionytadema opened #132 "wamp subscription api procedures missing"
according to the documentation nexus should support the wamp subscription api, but it seems like the procedures are missing

are there any plans to implement those? they would really help me out

[2018-07-18 21:56] gammazero commented on #132
You can expect these soon, within a few days most likely.

The documentation needs to break `subscription_meta_api` into `subscription_meta_events` and `subscription_meta_procedures`, the latter of which are not there at the moment.  The subscription meta procedures are a newer addition to the spec, so at some point in the past the documentation was correct, but had since become inaccurate.  Will

[2018-07-19 07:01] martin31821 commented on #132
Don't expect the procedures to be that easy to add. I had a try implementing these myself, but I failed since the procedure description is very vague and (I think) tied to a specific implementation architecture, which is, if I understood correctly, not the subscription scheme used within nexus...

[2018-07-19 14:47] gammazero commented on #132
@martin31821 , I am almost done.  The reason it was difficult was because the map structure in the broker needed to change somewhat.

[2018-07-20 07:55] dionytadema commented on #132
Wow, thanks for the quick reply.

You are doing great work and nexus is by far one of the best routers for wamp!

[2018-07-20 13:22] HollowTooth opened #135 "Router panics with KeepAlive"
Hi,
I just recently added wss to the nexus router, and noticed, that the router panics, if `KeepAlive` is set (not 0).
This is related to one of my older issues here #99.
The problem, that I found, is that you cast the `net.Conn` to `net.TCPConn`, when with wss you have `*net.TLSConn`.
[code]

[2018-07-20 19:05] gammazero commented on #135
I will fix this within 12 hours (as soon as I have a moment this evening).  Will use websocket ping/pong as keepalive.

[2018-07-23 05:13] gammazero commented on #135
@HollowTooth Fix is now merged.  A couple of other important fixes are included with latest merge, please update to latest version of nexus.

Thank you for reporting this problem.  It lead to a better way to handle the problem, as well as much more testing and improvements.

[2018-07-23 05:13] #135 closed

[2018-07-23 05:18] gammazero commented on #132
Fixed by #134 which is merged. During stress testing a critical client issue was discovered and also fixed.

@martin31821 The broker has been restructured and is much cleaner (and correct now).  Once the map structure was corrected, implementing the meta procedures was straight forward.  Please update to get some important fixes.  If you are considering further modifications to the code, I think y

[2018-07-23 05:18] #132 closed

[2018-07-29 04:00] ronanj opened #138 "Websocket: Possibility to change the WS write channel length"
in `websocketpeer.go`, the following constants are used:

[code]

Is it possible to provide a way to modify this `outQueueSize` value?

[2018-07-29 21:55] gammazero commented on #138
With the latest version of nexus, if the write channel is blocked, then the router will wait for a second to see if the message can be sent before dropping it.  So, if that ever happens, it means that the underling IPC is failing to buffer additional data.  Not sure that increasing the size would really help much.

I think the most technically correct thing to do is to set the size to 1 and rely o

[2018-07-30 00:38] ronanj commented on #138
I agree on that increasing the size will only mask the real issue, so if the real issue can be solved then that would definitely be even better.

The example I am using is available in this commit: https://github.com/ronanj/nexus/commit/12dbf085cecea1ee6ad0d0fcaea950e0a5b95e12

It consists of a NodeJs callee and Golang router/caller - where the callee tries to send as many messages as fast as poss

[2018-07-30 02:35] ronanj opened #140 "TLS Websocket server fails with go 1.9"
I am running the following setup:

Server: `go run server/server.go`

[code]

Client: `go run pubsub/subscriber/subscriber.go -scheme=wss -trust=server/cert.pem`

Then, the server fails with

[code]

[2018-07-30 02:45] ronanj commented on #140
If switching to the `go server.ServeTLS(l, certFile, keyFile)` in `websocketserver.go`, it still fails, but with a different error:

[code]

[2018-07-30 20:39] gammazero commented on #140
I think you are seeing #135, which is fixed.   Please get update.  I am not seeing this problem:
[code]

[2018-07-30 20:50] gammazero commented on #138
I see that the version of nexus that you based your fork on does not have the fix for this issue, that I mention above.  You need to get the most recent version.  See if that fixes what you are seeing.

[2018-07-30 23:49] ronanjs commented on #140
Upgrading to the latest release fixed this issue. Thanks

[2018-07-30 23:50] #140 closed

[2018-07-31 00:09] ronanj commented on #138
Fixed with version 2.1.0. Thanks

[2018-07-31 00:09] #138 closed

[2018-08-04 12:43] Happy-Ferret commented on #93
NVM! Was easier than I thought.

[code]

[2018-08-05 23:40] #126 closed

[2018-08-05 23:43] gammazero commented on #93
@Happy-Ferret [This commit](https://github.com/gammazero/nexus/commit/bfe027177a53c6c3d55d670ad2c3eef5a98a83ac) adds the `WebsocketServer` method `AllowOrigins()` so that you can specify origins to match using [glob](https://golang.org/pkg/path/filepath/#Match) patterns.  Your code above could do this:
[code]

The `AllowOrigins()` function configures the websocket server with origin checking logic

[2018-08-08 11:19] jurjen96 opened #143 "Compatibility between Autobahn-Java and Nexus"
We are currently trying to implement a wamp connection between Autobahn-Java and the Nexus router. When we try to connect to the router, we get, after 5 seconds, the error that a timeout occurred:

`2018/08/08 12:19:10 Error attaching to router: did not receive HELLO: timeout waiting for message`

A code snippet for connecting to the router:

[code]

We also tried to connect to the router of Cross

[2018-08-08 21:48] gregkeys opened #144 "[feature] High Availability"
We are currently using crossbar in production but would like to switch to something that offers high availability. Crossbar has HA however it is prohibitively expensive at around $14,000 per node

We run multi-tenanted clusters where each namespace represents a customer website, within each namespace is a deployment of crossbar.

All of our services are capable of scaling up and down however at 65

[2018-08-09 09:28] robfra31 commented on #143
Hello,
I have the same issue on Autobahn-Cpp, the connect method doesn't get any return.
      _transport = std::make_shared<autobahn::wamp_tcp_transport> (_io_service, iter->endpoint(), true);
      _session = std::make_shared<autobahn::wamp_session>(_io_service, true);
      _transport->attach(std::static_pointer_cast<autobahn::wamp_transport_handler>(_session));
      _transport->connect().then

[2018-08-09 09:36] gammazero commented on #144
I have been considering what it would take to provide HA for a cluster of nodes running WAMP routers.  Here is a very rough design concept that tries to address what you are asking for.  I would be interested in hearing feedback.
https://github.com/gammazero/nexus/wiki/High-Availability

[2018-08-09 09:42] gammazero commented on #143
This may have been the same issue, with how the Autobahn demos operate, addressed here:
https://github.com/gammazero/nexus/issues/93#issuecomment-386921746

[2018-08-09 09:51] robfra31 commented on #143
I don't think because I am not using docker. It's a code that I compiled on my own without using autobahn examples.
Can I send to you the .exe that I produced to test with it ?
It's a simple process which tries to connect to the nexus router by giving him the server address and the realm name.

[2018-08-09 09:53] gammazero commented on #143
Not sure I will be able to run an exe, unless it is built for linux, freebsd, or mac.  May be better if I can get a small piece of code that exhibits and build that.

[2018-08-09 09:55] gammazero commented on #143
Also, if you enable debug in the router, does it log anything at all?  This would indicate if the client was at least able to connect.

[2018-08-09 10:02] robfra31 commented on #143
I enabled the debug and I don't see anything. It's like if no one is communicating.
I've produced the same program for linux if you want to try it.
Because if I give the code, you will need to install lot of dependencies for autobahn-cpp..

[2018-08-09 10:03] jurjen96 commented on #143
Same also applies for us, when we ran our code, we didn't use the example code of Autobahn-Java. By the way, we are running the Java code in Android.

When we enable debug in the router, we see with our Android Java code only the Hello timeout waiting for message error. When we use the example code in a Java application, we get the following response from the Nexus router:
`2018/08/09 11:59:36 Err

[2018-08-09 10:28] gammazero commented on #143
@jurjen96 If you are using the Autobahn docker demos, pease check if this is the problem: https://github.com/gammazero/nexus/issues/93#issuecomment-386921746

I have tested with the Autobahn Java client and it does work.  If your problem is the the above, them please give me more information about how you are connecting things:
- What transport are you using Websocket,  RawSocket (TCP, Unix)?
- Wh

[2018-08-09 10:57] gammazero commented on #143
@jurjen96 I appears that your client is connecting, but then disconnects before sending HELLO to router.  Are you setting WebsocketServer.KeepAlive to a non-zero value?  I am wondering is websocket ping/pong could possibly be a problem

[2018-08-09 12:00] jurjen96 commented on #143
Thanks for your quick response! For the example of Autobahn Java we didn't use the docker version, but we copied it to a Java application because we had some difficulties running their docker version. For the example of Autobahn Java we configured the router to use port 8080, but we still get "receive channel closed".

For both the example and Android version we use Websocket transports

We use ou

[2018-08-09 12:25] gammazero commented on #143
@jurjen96 This may be the answer you are looking for: https://groups.google.com/forum/#!topic/autobahnws/cLMj0bQcfxU

[2018-08-09 12:41] jurjen96 commented on #143
Thanks, the person that started that topic is a colleague of mine ;) He is trying to get the example up and running while I try to implement it in our product which uses Android.

[2018-08-09 13:38] robfra31 commented on #143
Okay so I tested the basics and I had a mistake on my configuration.
But now I have the following connection error:
From Nexus:

2018/08/09 15:35:11 New client sent: HELLO: &{Realm:nexus.realm1 Details:map[authid: authmethods:[] roles:map[caller:map[features:map[call_timeout:true]] subscriber:map[] publisher:map[] callee:map[features:map[call_timeout:true]]]]}
2018/08/09 15:35:11 Aborting client c

[2018-08-09 14:08] jurjen96 commented on #143
I totally forgot to attach the output we got from the client, sorry about that. Might be helpfull:

[code]

I also tried to use the configs of robfra31, but I still received the timeout waiting for message error.

[2018-08-09 15:01] gammazero commented on #143
@robfra31 Notice that `authmethods:[]` is empty.  This means that your router does not have any way to authenticate the client.  You need to enable `AnonymousAuth` like this:
https://github.com/gammazero/nexus/blob/master/examples/simple/server.go#L24

Or, your router implementation needs to map the names of authmethods to authenticator implementations, like this:
https://github.com/gammazero/nexu

[2018-08-09 15:10] gammazero commented on #143
@robfra31 OK, looks like you do have `"anonymous_auth": true,`.  Let me see what it is not picking this up..

[2018-08-09 15:12] robfra31 commented on #143
I have added an authentification in the join method of autobahn-Cpp:
`_session->join(_realm, authmethods, authid).then([&](boost::future<uint64_t> joined)`
Now it can connect !
But after that, the servers says:
`2018/08/09 16:09:47 New client sent: HELLO: &{Realm:nexus.realm1 Details:map[authid:daemon authmethods:[wampcra] roles:map[subscriber:map[] publisher:map[] callee:map[features:map[call_tim

[2018-08-09 15:26] gammazero commented on #143
Right, because there is no authenticator for `wampcra`.

I think I see the problem.  You client provides an `authmethods` in its HELLO message, but that authmethods is empty.  The nexus code is no adding the anonymous authmethod if authmethods is defined, even if it is empty:
https://github.com/gammazero/nexus/blob/master/router/realm.go#L645

The code in the link above needs to change to:
[code]

[2018-08-09 15:33] robfra31 commented on #143
Error in compilation:
`..\router\realm.go:634:49: invalid argument am (type interface {}) for len`

[2018-08-09 15:34] gammazero commented on #143
Sorry, code should be this:
[code]

[2018-08-09 15:47] gammazero commented on #143
I was able to make my client add an empty authmethods list, and was able to reproduce what you are seeing.  The code above fixes that.  I will PR that unless there are additional issues that need to be addresses.

[2018-08-10 06:04] gammazero commented on #143
@jurjen96 If the merged PR does not help you, then I will open a new issue for autobahn java running on Android.

@robfra31 If the merged PR fixes your problem, please let me know and I will close the issue.

[2018-08-10 08:00] jurjen96 commented on #143
@gammazero  The merged PR did not fix the issue for us. Nonetheless, thanks for the effort you put into this issue!

[2018-08-10 13:52] robfra31 commented on #143
Hello, it's okay the issue is fixed with your modification !
Thank you very much !

[2018-08-11 07:03] gammazero opened #146 "Autobahn-Java on Android Connection Timeout"
Originally posted by @jurjen96 in #143:

We are currently trying to implement a wamp connection between Autobahn-Java and the Nexus router. When we try to connect to the router, we get, after 5 seconds, the error that a timeout occurred:

`2018/08/08 12:19:10 Error attaching to router: did not receive HELLO: timeout waiting for message`

A code snippet for connecting to the router:
[code]

We also

[2018-08-11 07:04] gammazero commented on #143
@jurjen96 I am closing this issue, and have opened a new issue to track the problem you are seeing: #146

[2018-08-11 07:04] #143 closed

[2018-08-11 08:38] martin31821 commented on #144
We also thought about HA within WAMP, but came up with a slightly different approach.

Our approach was to minimize the inter-router-communication required to maintain good performance and reliability.

We split our services into smaller "application features", and wanted to use one "backend router" per "application feature". The backend router is where the backend services connect to.
Then we can

[2018-08-15 07:54] haizaar commented on #144
@gregkeys can you please provide some info/links about Crossbar HA mode?

[2018-08-16 01:46] haizaar commented on #144
BTW, who ever is in search for multi-node router for scale/HA purposes, [Wiola](http://ksdaemon.github.io/wiola/) seems to [fit the bill](https://github.com/KSDaemon/wiola/issues/12):

[2018-08-16 05:03] gregkeys commented on #144
@gammazero Im still considering you're proposal, at first glance it looks like a solid plan of action

@martin31821 are you building custom routers with nexus to accomplish this? if so where is the strong interconnect taking place is that built into the frontend routers?

@haizaar here is the link where crossbar mentions access to HA mode https://crossbario.com/products/enterprise-support/

[2018-08-16 15:26] martin31821 commented on #144
@gregkeys

At the moment, we have [autobahnkreuz](github.com/EmbeddedEnterprises/autobahnkreuz) , but it has no high-availability included yet.
My idea was to either include multiple local clients connecting to the backend routers (take a look at the autobahnkreuz source code) and use it to register/publish/subscribe or to have this functionality as seperated binaries and implement the connection

[2018-09-28 16:02] lyrixx opened #150 "Impossible to install with get"
When I ran

I got: ` dep ensure --add github.com/gammazero/nexus`

[code]

[2018-09-30 23:12] gammazero commented on #150
Something I had not even considered... will fix ASAP.

[2018-09-30 23:48] gammazero commented on #150
@lyrixx Here is the problem that you are seeing: https://github.com/golang/dep/issues/1306
"dep cannot vendor dependencies that do not have Go source code"

All of the source in nexus project repo is divided into sub-packages (`client`, `router`, etc.).  I think what you will need to do is to add the individual sub-packages that you need:
[code]

[2018-10-04 09:46] lyrixx opened #151 "Implementation of Server and Publisher in the same place"
Hello

I'm trying to create a server that read message from RabbitMQ and send them to clients using WAMP protocol.

I have read all examples, and some part of nexus lib.

But I don't see how I can implement that. It looks like I have to create 2 daemons, one for the server, and another one for publisher. Is there a way to create only one daemon ? I used to use react-php to do that, and It was poss

[2018-10-07 02:49] gammazero commented on #151
If I understand what you are looking for, then yes it is not only possible, but also  primary design consideration of nexus.

With any router, you can also have as many embedded clients as you want.  The can be publishers, subscribers, callers and callees.  Making each client a connect to the router as a "local" client is the way for the client to communicate with the router without requiring any

[2018-10-08 08:57] lyrixx commented on #151
Thanks for all you answer. Finally I have choosen to not use WAMP and so nexus. It adds too much complexity for my need. I use https://github.com/gorilla/websocket and that's all :)

Thanks again.

[2018-10-08 08:57] #151 closed

[2018-10-24 20:16] martin31821 opened #152 "Nexus sends bogus ERROR messages"
In rare edge cases (I discovered 2), nexus sends an ERROR in response to a PUBLISH message, even the spec requires a router implementation to not send an error when `acknowledge` isn't set.

This can happen in the following cases:
- Client sets `disclose_me` when it's forbidden by the router config
- Authorization fails for publishes.

Both cases are valid if `PUBLISH.Options.acknowledge` is set.

[2018-10-28 16:28] gammazero commented on #152
@martin31821 In the "Authorization" of the spec, it indicates that an error is sent in response to a publish when authorization fails, regardless of how `acknowledge` is set:
https://wamp-proto.org/static/rfc/draft-oberstet-hybi-crossbar-wamp.html#authorization

I think the spec needs to be clarified for this case first.

[2018-10-28 17:02] martin31821 commented on #152
The linked part of the specification only defines the URIs that need to be used for this case, not that a message should actually send, IMHO.

[2018-10-29 03:54] gammazero commented on #152
@martin31821 OK, I think your interpretation is correct and it agrees with the behavior of Crossbar.  PR is welcome.  I can also fix if you prefer.

[2018-10-29 12:59] keiser1080 opened #154 "unable to Register & CALL procedure to crossbar router v18.10.1.post1"
Hi,

crossbar router raise protocol error:
i try the examples from github folder example in nexus repo
[code]

[2018-10-29 14:16] gammazero commented on #154
Looks like there is a problem with having a nil value instead of an empty dictionary.  Will investigate and fix ASAP.

[2018-10-29 22:58] #154 closed

[2018-10-29 22:58] #152 closed

[2018-11-13 11:47] keiser1080 commented on #154
Thanks for your update!

just has the time to check .
now i am able to connect to a local crossbar server but not a remote crossbar server.

I will open an issue with ore detail.

[2018-11-13 12:49] keiser1080 opened #158 "unable to connect to remote crossbar"
hi,

refer to this issue #154
i am able to run the  simple sucriber & simple publisher example when the crossbar server is located at the same linux server,
but when i try to connect to a remote crossbar server  i get the following error message: "Forbidden" on the nexus client application & nothing in the debug log of the crossbar instance.

[https://github.com/gammazero/nexus/tree/master/example

[2018-11-13 13:17] martin31821 commented on #158
Can you provide more details on the networking setup used?
I see that your server is only listening on 10.10.10.10, maybe this is the problem.

[2018-11-13 15:36] keiser1080 commented on #158
I have two server.
the crossbar prod_server & the crossbar dev_server
the prod_server have multiple interface & ip_address it's why i specified the ip address.

if i run localy the  nexus client it's work on both server.
If i run the nexus client i can not reach the remote crossbar server, even if the ip is not specified on the crossbar config.
I use our simple susciber/publisher  example, i chang

[2018-11-14 07:52] martin31821 commented on #158
I'm still convinced that this is a network level problem, since the connection isn't even reaching the crossbar router. Could you post the python code used to connect and (maybe) a pcap with python/go connections?

[2018-11-14 08:21] keiser1080 commented on #158
update:
using root privilege i am able  to suscribe to  a remote crossbar server.
I's realy strange, i am using the port 18080 wich is not a privilege port.

I have realy no idea, could you point my some direction.

I have not the right to install an application on this server.
Let me know if the pcap file is still needed i will prepare the same setup on others machine.

[2018-11-14 10:31] martin31821 opened #159 "Router is blocked for several minutes after message bursts"
I'm running into problems with the sendTimeout when clients are blocked, I try to describe my problem:

- I have some clients (like 300), some of them have slow network connections and are subscribed to 'hot' topics (frequently published to)
- The router is correctly blocked and drops some messages according to https://github.com/gammazero/nexus/blob/master/transport/websocketpeer.go#L165
- Eventu

[2018-11-14 14:41] martin31821 commented on #159
After some hours of debugging this, I now have another suspiction. I saw that registrations are still present within the router state even if the connections are not alive anymore, which I think happens iff I run into `peer is not responging to pings, closing websocket` which is not passed through correctly to the upper layers.

[2018-11-17 17:07] gammazero commented on #159
Do you know if this is a new behavior introduced by the recent update of gorilla websockets (#157)?

I will start working on this now.

[2018-11-17 17:15] martin31821 commented on #159
This is unrelated to the vendor updates, we experienced the problem in a production setup running an older version (#155)

One problem I see is that the router is blocked when waiting for clients to become available, which is a great problem, since the incoming messages will queue up indefinitely (push to actionChan in broker and dealer) and while queueing up, lose their order, which leads eventua

[2018-11-17 20:00] gammazero commented on #158
The websocket client will automatically use the environment proxy:
https://github.com/gammazero/nexus/blob/master/transport/websocketpeer.go#L97

This can be changed by setting environment variables as described here:
https://golang.org/pkg/net/http/#ProxyFromEnvironment

However, the nexus client does not currently have a way to configure a proxy URL or proxy function.

If such a change is necess

[2018-11-18 00:58] gammazero commented on #159
I will have this fixed ASAP.

[2018-11-18 22:39] gammazero commented on #158
PR #161

[2018-11-19 15:57] keiser1080 commented on #158
Thanks for your reactivity ,

i will try this  as soon as i hundestand how to use it :)

[2018-11-19 17:40] gammazero commented on #158
@keiser1080 To use it,  set `ProxyURL` in the `WsCfg` portion of the client config:
[code]

[2018-11-22 06:38] gammazero commented on #159
The main cause of the problem is when the output channel for a slow client is full.  This causes a temporary block waiting to write the  channel, which blocks in the critical section of the broker.  When there are a number of such clients, this becomes particularly bad.  The original intent was to give client output goroutine time to read the outgoing messages from the channel and write them to th

[2018-11-22 09:05] martin31821 commented on #159
I also thought about having a infinite sized queue, another approach which might take memory peressure would be to actively send errors to pending requests when there are messages in the queue, which is imho compliant to the wamp spec (something like `The router can't process your request at this time`).

However, this would require to split the messages into a `dropable` (i.e. PUBLISH) and `needs

[2018-12-20 12:42] dionytadema opened #162 "Calling long running rpcs from multiple clients results in yield mismatch"
Hi,

me and a colleage found out that long running RPC's have weird behavior when called from different clients

- RPC that returns 'hello world'
- RPC that returns 'bye nexus'

this works fine if we call one rpc, wait for it to return then run another, it also works fine if both are called async from the same client

But it breaks as soon as you call both from different clients (call bye before h

[2018-12-20 12:57] martin31821 commented on #162
This seems to be a very odd bug, I have some questions:

- Are you able to reproduce the bug with another router (e.g. crossbar)?
- Can you provide a wireshark dump to be sure which messages were sent wrom which peer?
- I assume all components are running locally?

Anyway, I'll look into it, since it seems to be a fairly critical bug

[2018-12-20 13:01] dionytadema commented on #162
- I tested this example code with crossbar and it worked fine
- only used wireshark once and are not experianced with it, but i will try
- everything ran on one machine

[2018-12-25 15:13] #158 closed

[2018-12-25 20:18] gammazero commented on #162
This was fixed by PR #163 (credit to @martin31821).  The cause was different interpretations of the WAMP spec between nexus and autobahn, due to an inconsistency in the spec (https://github.com/wamp-proto/wamp-proto/issues/270).

[2018-12-25 20:18] #162 closed

[2019-01-21 10:00] brick0 commented on #159
Hitting this issue in a project and would like to try the fix if it's available in any branch.
Interested in a solution that may drop messages to slow clients, but never blocks the router

[2019-01-30 00:15] gammazero commented on #159
@brick0, @martin31821 Some discussion of solutions...

The key to fixing this is to avoid _ever_ making he router (broker or dealer) block, as that stops everything.  Even small periods of blocking can cumulatively result it major bottleneck.  The router used to just drop messages that would block, but a small wait was added to allow a client to catch up after a message burst.  This is what is cau

[2019-01-30 00:36] martin31821 commented on #159
Maybe it's best to discuss this with the other WAMP implementors at the gitter? I think having back-pressure requires a bit of work on the spec, too, so their opinion on this topic is interesting as well.

I'd vote against dropping **any** messages as this may cause a client implementation to block for an undefined amount of time (possibly over the lifetime of a connection), so flow control seems

[2019-01-30 02:39] gammazero commented on #159
@martin31821 To clarify, all of the proposed implementation is in the router.  The RPC flow control is a special case of back-pressure that happens regardless of configured queue behavior, and would prevent queuing large amounts of progressive results even if queue size was large.  The go routine handling incoming messages for the sending session blocks if the receiving session still has pending p

[2019-01-30 19:12] gammazero commented on #159
@brick0 Very useful feedback. It makes sense for the configurable behavior to be in the realm config.  Also, indicates that behavior may need to be different for broker and dealer.

[2019-02-07 16:22] bkneis opened #165 "Provide test helpers or examples of how to test an InvocationHandler"
I did not see any template for raising issues in the repo so if this does not meet an expected standard please let me know and I will update. I did check the previous issues though and could not see any related.

Currently I am using nexus and have registered several procedures, but I am at a bit lost on how I can test these procedure's InvocationHandlers. Could nexus either provide test helpers,

[2019-02-07 19:45] martin31821 commented on #165
I created a WAMP test and specification framework a while ago, but it's not ready for the public yet. Basically the idea is to spin up a simple test router and make a number of calls to specified URIs while expecting several side effects.

[2019-02-11 05:03] gammazero commented on #165
@bkneis To test invocation procedures, my tests typically start a router and a caller that makes RPC calls and checks for the expected responses from this invocation handlers.  So, the natural evolution of this is to provide a test framework to automate this, as you are looking for.  I think this is an excellent feature request, and I will look into providing this or directing users to facilities

[2019-02-11 14:23] martin31821 commented on #165
So, I can give you a bit of a preview here.

We created a simple DSL which can be used to specify the inputs, outputs and behaviors for one or more WAMP endpoints.
After some analysis, we eventually found that implementing and testing a single endpoint is not feasible, since it could be that an endpoint may generate publishes to RPC topics or interacts with Meta-APIs the router provides, so we ext

[2019-02-13 04:18] om26er commented on #146
@jurjen96, I just stumbled up this issue. Could you clarify if your app is supposed to run on Android or a server ? I am asking because we, on Android use our own websocket implementation and for servers we use Netty.

The autobahn-java implementation of WAMP was mostly based/inspired by autobahn-python' implementation and I only tested it with Crossbar, I will check later if I can reproduce your

[2019-02-13 15:52] jurjen96 commented on #146
Our app is supposed to run on Android.

Currently, I don't have a code snippet at hand since we moved to autobahn-js in an android app. If necessary, I can have a look at a code snippet next week.

[2019-02-14 16:57] azamat-sharapov opened #166 "Empty list/dict is omitted"
When returning empty `Args` or `Kwargs` in InvokeResults from RPC InvocationHandler, nexus omits that field. But in my use case, I would like empty JSON array/object, instead of omitting it. Looking at source, I think it's caused because of `wamp:"omitempty"` tags. Is there way to work it around?

[2019-02-21 14:15] jurjen96 commented on #146
I went back to our old commits and I was unable to reproduce the issue described above. I tried to use
`autobahn-android-legacy:18.5.1` and `jawampa-core:0.5.0` with `jawampa-netty:0.5.0` and both approaches did not result in a timeout. This ticket can be closed. Thank you guys for your support!

[2019-03-14 13:00] gammazero commented on #146
Closing issue based on last comment by @jurjen96

[2019-03-14 13:00] #146 closed

[2019-04-06 23:50] gammazero commented on #166
That was done to minimize what needed to be serialized.  Is this causing a compatibility issue with another WAMP implementation?  If needed, that could be configurable behavior in the serializer.  I want to make sure I understand the need; is this a preference for your use case or is there a bigger interoperability issue that needs to be addressed?

[2019-04-08 06:57] azamat-sharapov commented on #166
This makes sense.

Yes.
I'm using nexus as server and client is on browser (javascript). I wanted to avoid extra checks for existence of args/kwargs on frontend and assume that nexus returns empty array/object (e.g. _empty_ slice given as `Args`, not _nil_ slice).

If you think it is worth omitting empty fields for performance, I agree and can workaround it on client side, instead of server.

[2019-04-08 06:59] martin31821 commented on #166
Most client libraries should replace omitted values by empty arrays/objects anyway. Which client are you using?

[2019-04-08 07:01] azamat-sharapov commented on #166
@martin31821 I'm using https://github.com/KSDaemon/wampy.js

[2019-04-21 17:22] martin31821 opened #172 "Security issues reporting process"
Is there any private communication channel to report security issues?

[2019-04-22 16:19] gammazero commented on #172
gillis dot andrewj at gmail dot com

[2019-04-22 21:09] martin31821 commented on #172
I sent you an email

[2019-04-22 22:42] #172 closed

[2019-04-25 13:34] gammazero commented on #159
@martin31821 Now that PR is finally merged, if you have any time to check that it fixes the reported problems, I would be very thankful.

[2019-04-25 17:59] martin31821 commented on #159
I'm going to take a look at the weekend.

[2019-05-03 16:33] martin31821 commented on #159
@gammazero I can confirm that it fixes the issue I originally mentioned!

[2019-05-03 22:11] gammazero commented on #159
Fixed by #167

[2019-05-03 22:11] #159 closed

[2019-05-17 06:50] johannwagner opened #175 "Using wamp.session.list segfaults the router"
Hey,

I just tried to use `wamp.session.list` with an auth role filter, as described [here](https://wamp-proto.org/_static/gen/wamp_latest.html#wamp-session-list).

My call using kraftfahrstrasse:

[code]

Router Log:

[code]

https://github.com/gammazero/nexus/blob/master/router/realm.go#L829

I tried to figure out the issue in the code, but I was not able to and I think, I use this correctly. No

[2019-05-17 06:55] johannwagner commented on #175
@martin31821 has figured out the bug. Working on PR.

[2019-05-21 04:35] #175 closed

[2019-05-28 16:01] kofalt opened #178 "[Discussion] Best practices for an interoperable, documented surface area"
Hi! Great project, I'm using it for single-digit-ms RPC in anger and loving it.

Right now, I am using nexus to speak from & to Go clients which I control, but that situation will soon be changing. I make fairly simple assumptions on the data types that come across the wire, and these assumptions are hard-coded into the clients. This does not make integrating from another language, or a codebase I

[2019-05-28 16:09] martin31821 commented on #178
You can see a bit of discussion here; https://github.com/gammazero/nexus/issues/165. We're still working on this.

[2019-05-28 17:18] kofalt commented on #178
Interesting - I'll leave this open for others to add their ideas / questions and possibly update with my own approach. I like the testing discussion but am also focused on easily consuming endpoints from other languages.

Some inspiration: Varlink uses discoverable and [self-documenting files](https://varlink.org/#interface) that are similar in nature to the example you link. The idea that you can

[2019-05-29 06:11] martin31821 commented on #178
I think it might be interesting to experiment with code generation from a spec file, and I also know there's a feature proposal to add reflection as meta api, maybe it can be extended to Include schema information.. Just a thought.

Please take a look in the HA issue in nexus, where we already discussed some approaches for external/internal api schemes

[2019-06-03 15:35] kofalt opened #179 "[Question] Best way to automatically reconnect?"
I was wondering if this pattern matches your usage for a WAMP client that should try to always maintain a healthy connection. Do you do something differently? If so, would it make sense to stick something like the below in the wiki?

The rough approach I use:

[code]

[2019-06-03 21:28] martin31821 commented on #179
In our case, we just exit when we detect a connection loss and rely on the container runtime to restart our app.

[2019-06-03 23:19] kofalt commented on #179
Hah - makes sense :)

I ended up modifying this logic using `sync/atomic.Value`, such that a `watchdog`-like coroutine can kick off a new connection without waiting for all uses of `Session.Call` or etc to exit. Previously I used a `sync.RWMutex`, but `Value` seems better suited by not blocking the reconnect.

I've been debating whether to ask for a `Client.Reconnect` method. On one hand, `Reconne

[2019-06-04 15:24] gammazero commented on #179
@kofalt In a commercial product that uses nexus, there is code which is very similar to what you have above.  So, this is a useful pattern and at least worth documenting.  I am trying to decide if adding something like this to the client library is correct, or if this should only be part of the application implementing a client.

[2019-06-04 15:54] dcarbone commented on #179
For my own product I ended up wrapping the client entirely within my own, with an internal structure that looks a bit like this:

[code]

This provided me with a few benefits:

1. I can utilize a Raw or Web socket connection with the same overarching Client type
1. Upon Nexus client connection, this Client will automatically attempt to join a specific Realm
1. I maintain a list of topics and proce

[2019-06-04 16:43] kofalt commented on #179
That looks great @dcarbone. Have a gander at `atomic.Value` when you get a chance, I swapped to that over `sync.RWMutex` when replacing the `Client` and like that a lot better. I would review a `ResilientClient` patch with interest.

[2019-06-04 16:53] kofalt commented on #179
For reference, here's roughly what I ended up with after some improvements:

[code]

I then added a new function:

[code]

Then, any WAMP interaction first calls `GetClient` and receives a probably-valid session.

This has the advantage of allowing you to renegotiate new connections while the old one is still failing; functions involving `Session.Call`/etc can shut down concurrently with a new con

[2019-06-05 10:23] martin31821 commented on #179
Maybe something like this could also be integrated into our high-level 'service' library: [service](https://github.com/embeddedenterprises/service)...

[2019-06-05 11:22] dcarbone commented on #179
@kofalt @martin31821: alright, i will have something by Saturday.  Looks like its going to rain here all weekend, so perfect timing :)

[2019-06-07 18:11] gammazero commented on #179
I have time this weekend to collaborate on design discussions, code reviews, and help with development here, so count me in!

Previously I mentioned a resilient client wrapper that wraps the nexus client, so I will share a stripped-down likeness of the code to give some ideas of what was done for a production system.  The wrapper maintains a connected nexus client.  If the client is disconnected,

[2019-06-07 19:12] dcarbone commented on #179
I have a branch in works: https://github.com/dcarbone/nexus/tree/feature/resilient-client

Let me know what you think. One big thing for me is to not block while the client is down, implementors should be allowed to determine how they want to handle things, i believe.

[2019-06-07 19:13] dcarbone commented on #179
https://github.com/dcarbone/nexus/blob/feature/resilient-client/client/resilient_client.go contains the code.

[2019-06-07 20:41] gammazero commented on #179
@dcarbone Yes, many similarities. Some implementation diffs like RWLock vs goroutine for synchronization, but basically the same idea.

I agree that having determinable errors is beneficial.  Similar to a `Context`, the nexus client already has a `Done()` method. I will add an `Err()` method to describe _why_ the done signal is set, and that will return a specific error value, again like `Context`

[2019-06-08 13:47] martin31821 commented on #179
What's your idea or plan in regards to automatically reestablishing previously used registrations and subscriptions? Should those be reestablished?
And also what's the case with dynamically established subscriptions/registrations?

[2019-06-08 14:08] dcarbone commented on #179
@martin31821: i retain a separate list of what I've coined "Resilient" procedures and topics.  Upon underlying client connection, i call [this](https://github.com/dcarbone/nexus/blob/feature/resilient-client/client/resilient_client.go#L530) method, which will attempt to re-subscribe / re-register as necessary.  One thing that needs some work still is how to handle errors during these calls when th

[2019-06-08 14:16] martin31821 commented on #179
@dcarbone that seems like a fairly good approach to me. I'd also like to see a callback to clear local state when the connection is lost. How are publications handled when the client is in the reconnecting state? And how are errors handled when the service has another auth role after it reconnects?

[2019-06-08 14:38] dcarbone commented on #179
@martin31821 at the moment anything done during reconnect is blocked by virtue of the reconnect happening within a `Lock()`, which I could see an argument for modifying.  Any actions taken when the client is nil will result in an error return.

A callback is a good idea, I will work on one.

[2019-06-08 22:34] gammazero commented on #179
@dcarbone Regarding `Any actions taken when the client is nil will result in an error return`.  I am thinking that is preferable to block to caller until the reconnection happens.  Otherwise, this forces the caller to implement resiliency in the form or retries -- and defeats the purpose of a resilient client.

[2019-06-08 22:52] dcarbone commented on #179
@gammazero I disagree.  WAMP messages _should_ be ephemeral, and the blocking the entire process without at least providing the implementor some way to cancel the attempt after a period of time is not a good model.  There are a litany of reasons the connection would be unable to be established, network issues, external auth service down, etc., and there is no guarantee that a connection will be re

[2019-06-08 22:53] gammazero commented on #179
# Design Ideas
The overall goal is to provide a client that recovers from temporary network outages, as invisibly as possible.

1. Client will automatically reconnect to router/realm following a disconnect.
   - Will continue to retry at some interval until reconnected or termination.
2. Upon reconnect, client will re-subscribe to all subscriptions in place before disconnection.
3. Upon reconnect,

[2019-06-08 22:56] gammazero commented on #179
@dcarbone I was thinking that blocking would be handled by having the caller provide a context to be able to cancel or timeout a blocked call.

[2019-06-08 23:01] dcarbone commented on #179
@gammazero I could see that as a course of action, however I think it may be difficult to pass the context all the way down to the socket transmission layer in an eloquent manner.  Would have to either turn each message into a `context.Context` or modify quite a bit of the codebase.

I looked into this quite some time ago and came to the conclusion that it was more work than I felt made sense at t

[2019-06-08 23:09] gammazero commented on #179
It may be worth another look (I don't have an answer either), since a context "carries deadlines, cancelation signals, and other request-scoped values across API boundaries".  If it is the _right_ thing to do then we can always do a major API revision.

[2019-06-08 23:14] chongzizil opened #180 "Deadlock triggered by kill session meta procedure against sessions with registered procedure."
I'm running into a deadlock problem recently.

Here's some context to reproduce the problem:
- The server's local client tries to close a remote client session by calling the session meta procedure: `wamp.session.kill`.
- The remote client session registers at least one procedure to the realm.

I've identified the problem as below:
1. The remote client connects and registers a procedure to the rea

[2019-06-08 23:59] kofalt commented on #179
Catching up on this thread.

----

1: The "Design Ideas" comment LGTM; I would probably want to add something about custom re-subscription behavior.

Consider the use case of watching an append-only log, like a chatroom. A chat client probably wants to subscribe to chat events, wait for the subscription to be acknowledged - is there a way to do that in WAMP? - **then** make an RPC fetching recent

[2019-06-09 00:15] dcarbone commented on #179
These are all excellent points. I agree, lets work on a context-focused model.

@gammazero, ideas on where to begin?

[2019-06-09 02:00] kofalt commented on #179
A literal shower thought after vegetating on this more - my proposed `OnReconnect` handler would be more appropriately used as `OnConnect` instead, explicitly firing on the first **and** every subsequent connection.

Then, it's trivial to get @dcarbone's `resilientSubscriptions` behavior (just pass a closure with some `Subscribe()` calls), while still meeting the use case in my previous comment.

[2019-06-09 07:31] gammazero commented on #179
@kofalt Regarding your comment on "chat history".  WAMP does have an advance profile feature called Event History (https://wamp-proto.org/_static/gen/wamp_latest.html#event-history) that would allow the recover of missed events.  This requires the router to support it though.  If there is router support, the the resilient client should be able to handle automatic recovery of missed events.

As far

[2019-06-09 07:38] gammazero commented on #179
@dcarbone Where to begin... Interface design.  That is the most critical part of all of this.  If the interfaces support all of the use cases we agree on, in the safest and simplest way, then that will determine how all the rest works.

I say we edit wiki pages to propose resilient client interfaces, and then we can pick what we like best from them all and come up with a final, or we can submit li

[2019-06-09 07:39] martin31821 commented on #179
@gammazero resubscribe and re-register should be handled by the client itself. The onConnect callback should only be used to change internal state of your application.

[2019-06-10 18:45] gammazero commented on #180
Thank you for the detailed description.  Fixing this ASAP.

[2019-06-12 21:37] gammazero commented on #180
@chongzizil If you can confirm this is fixed, please close this issue.

[2019-06-14 17:47] chongzizil commented on #180
@gammazero

I just tested this and it works fine now! Thank you very much!

[2019-06-14 17:47] #180 closed

[2019-06-24 17:27] neiledgar opened #182 "RPC example serialization problem with JSON"
I tried running the example code for the RPC caller/callee:

`go run server/server.go`
`go run rpc/callee/callee.go`
`go run rpc/caller/caller.go`

Both the callee and caller return a timeout message
[code]
I then see the server process consume 100% CPU. If I repeat the test but specify `-serialize=msgpack` to the callee and caller, the example completes without error and without causing 100% CPU

[2019-06-25 11:03] neiledgar opened #183 "Client lockup during Register() when session killed"
We are seeing a lockup in the client when the session is closed as the client is registering it's procedures. I could simulate this with an "wamp.session.on_join" procedure which calls "wamp.session.kill" for that session. After a few runs I see client never returns from the Register() method.

I generated a stack dump of the running goroutines and it looks like the client is blocked sending to th

[2019-06-28 09:12] mullerch opened #185 "Build fails with v2.1.0 (default version with go mod)"
I've tried to run [the simple example](https://github.com/gammazero/nexus/blob/master/examples/simple/server.go) but it fails to compile:

My configuration:
- go version go1.12.6 windows/amd64
- using go mod

And I have the exact same problem building with linux (WSL):
- go version go1.12.1 linux/amd64
- using go mod

[2019-06-28 12:16] dcarbone commented on #185
use 2.1.2.  i do not know why go mod always picks 2.1.0 by default, but that version is only usable if you use something other than mod.

[2019-06-28 15:11] mullerch commented on #185
Thanks for your reactivity. Effectively newest versions do compile.

[2019-06-28 15:11] #185 closed

[2019-06-29 07:58] gammazero commented on #182
Investigating...

[2019-06-30 02:40] gammazero commented on #182
Originally, I could not reproduce this.  However, upon updating the json codec (`go get -u github.com/ugorji/go/codec`) I was able to get this error.

[2019-06-30 07:41] gammazero commented on #182
Fixed by #186

[2019-06-30 07:41] #182 closed

[2019-07-01 09:58] neiledgar commented on #182
Great. This also fixes issues I saw running the JSON encoding unit tests

TestWSHandshakeJSON
TestRSHandshakeJSON

Thanks

[2019-07-03 08:42] mullerch opened #187 "Published methods with unpublished arguments"
I wanted to access the broker on my server to publish messages from the server directly. I thought I could achieve this using router.Broker.Publish but this function uses router.session who is not exported.

I don't understand how exporting functions with non exported arguments makes sense. How is it supposed to be used ? Or is it a mistake?

[2019-07-03 15:11] mullerch opened #188 "Publish from the nexus host process"
I have a use case where I would like to embed nexus in an application that will publish information to the subscribers. I was able to achieve this quite easily by publishing several structs and methods to reach a realm and it's broker.

I'm new to WAMP and nexus and I would like to know what would be a convenient way to implement that feature into nexus itself (regarding the WAMP philosophy and th

[2019-07-03 15:51] dcarbone commented on #188
I’m not sure I fully understand what you’re doing, but if you want a way to publish to specific topics from your wrapping service this should probably be done using a local client.

I am on my phone, atm, but if you have a gander through the code you should see a LocalClient method that returns a WAMP client to be used as you see fit. By default, it is not scoped by the auth/auth mechanism for a R

[2019-07-04 05:41] gammazero commented on #183
Fixed by #184

[2019-07-04 05:41] #183 closed

[2019-07-04 06:14] mullerch commented on #188
Thanks for your reply.

The local client is actually exactly what I'm talking about... I just couldn't find it. Now I'm wondering why it seems pretty obvious once you know where to look at.

Sorry for bothering.

[2019-07-04 06:14] #188 closed

[2019-07-04 11:53] dcarbone commented on #188
No bother!  Happy to help.

[2019-07-08 00:08] gammazero commented on #187
The way to publish messages from your server directly is to use a local client.  Here is an example:
https://github.com/gammazero/nexus/blob/master/examples/server/server.go#L149-L174

Use `client.ConnectLocal()` to connect to the router using the [local transport](https://github.com/gammazero/nexus/wiki/Transports#local-transport), which makes a direct in-process connection to the router.

[2019-07-08 00:12] gammazero commented on #166
Closing issue as "by design".  Empty fields are omitted for performance.  Client should check for existence of fields.

[2019-07-08 00:12] #166 closed

[2019-07-17 08:46] tomkcook opened #189 "`client.Close` sometimes hangs on network error"
I have a situation where the network upstream of the device running nexus code is unreliable.  When the network connection breaks, it does so without anything telling my nexus-based client that it's broken (ie no TCP FIN or RST packets are sent).  In this case, about one time in two, I see my client hanging in `client.Close()` with this included in the stack (note that line numbers here are for co

[2019-07-18 20:58] gammazero commented on #189
Thank you for your analysis and PR. I will be evaluating and testing this weekend.

To deal with this problem I am also thinking that clients should have the ability to enable websocket keep-alive (ping-pong).  Currently this is only configurable for the server.   Could add this as an option in `Config.WsCfg`
https://github.com/gammazero/nexus/blob/master/client/client.go#L78

[2019-07-18 21:40] gammazero commented on #189
Problem summary: Calling c.runAction() here:
https://github.com/gammazero/nexus/blob/master/client/client.go#L1294
Returns immediately because the done channel is closed, without calling the cleanup function, therefore not calling `c.activeInvHandlers.Done()`.

I think it would be a sufficient fix if the call to `c.activeInvHandlers.Done()` (https://github.com/gammazero/nexus/blob/master/client/cl

[2019-07-23 00:08] gammazero commented on #189
Submitted PR #191 to address the specific problem.

[2019-07-25 09:18] tomkcook commented on #189
Doesn't this cause a memory leak in the case where `c.done` is closed, because then `delete(c.invHandlerKill, msg.Request)` is not called?

[2019-07-27 04:48] gammazero commented on #189
@tomkcook I do not think it causes more of a leak than having the disconnected client around.  If `RunAction` returns without running the action, then the client is closed and cannot do anything more anyway, including leak more memory.  GC will free memory when dead client is no longer referenced.

[2019-07-29 21:41] 0xThiebaut opened #192 "WAMP Protocol's RPC Progressive Call Result implementation is non-compliant"
# Situation
Throughout a study aimed to determine Nexus' suitability for a project, I've encountered the following limitation which, in my honest opinion, goes against the WAMP Protocol specification.

Given a caller A issues a progressive call to procedure X of callee B, followed by a progressive call to procedure Y of callee B and given procedure X hasn't issued a progressive result to caller A,

[2019-07-31 11:03] robfra31 commented on #146
Hello, I would like to know how the issue was resolved @jurjen96  ?
For me, the `Error attaching to router: did not receive HELLO: timeout waiting for message` appears only when I set the `"enable_compression": true,` in the Nexus JSON configuration.

@gammazero: What is exactly the purpose of this attibute `enable_compression`, is it for enabling MsgPack in Nexus router ? Does it have a lot of im

[2019-07-31 11:07] martin31821 commented on #146
enable_compression should enable permessage-deflate, i.e. gzip per message. msgpack is handled at the protocol level by setting allowed subprotocols to `wamp.2.msgpack`.

[2019-07-31 11:17] robfra31 commented on #146
Okay tank you for your answer.
Do you have any idea why this `enable_compression` create an error when the Client (Autobahn-java) is connecting to the server ?

[2019-08-01 17:18] tomkcook commented on #189
Okay then - this looks fine to me.

[2019-08-02 16:51] gammazero commented on #192
# Analysis
I have examined this issue and there does not appear to be a problem with nexus, but rather a problem with the test code.  Specifically, the caller deadlocks itself: goroutine1 is waiting on progress-x which requires goroutine2 to run, and goroutine2 is waiting on goroutine1.  Here is a diagram to illustrate:
[code]
### Caller-A and Callee-B both waiting:
A-go1 sends X, waits on progres

[2019-08-02 17:00] 0xThiebaut commented on #192
Dead simple and overlooked on our side. Thank you for your external analysis and my apologies for the invalid issue. Looking forward to use Nexus in our implementation as this was our only concern.

[2019-08-02 17:00] #192 closed

[2019-08-12 16:29] mjentsch opened #194 "Question: expected behavior for session closed by router"
Hi, I'm new to WAMP and made some first steps using the provided examples/simple code... if I start the server, then the subscriber and then stop the server, the subscriber exists with the message "Router gone, exiting" - that's what I would expect. Yet if I do the test with the publisher (I put publisher.Publish() in a loop) it does not exit but seems to continue to publish... weird but something

[2019-08-12 17:21] gammazero commented on #189
Fixed by #193

[2019-08-12 17:21] #189 closed

[2019-08-12 19:30] gammazero commented on #194
The publish behavior is a result of the client putting the message on a channel for the transport to handle delivery of, without checking to see if the transport is still handling messages.  This code assumed that if you cared about determining if the event was publish, then you would use the publish-acknowledge feature:

If you requested publish acknowledgement,
[code]
you would have seen an erro

[2019-08-13 08:23] jurjen96 commented on #146
@robfra31 I'm not 100% sure how we resolved this issue since we moved away from using Autobahn Java and Jawampa to Autobahn|JS. My best guess would be that we updated/changed some settings in the router which fixed our issue. It might be that we, as you suggested, changed the ```enable_compression``` while we were converting our code from Java to JS, but I can't say for sure since we changed a lot

[2019-08-13 10:13] mjentsch commented on #194
Thanks for that, I get a "client not connected" with this update.
I see that I can check for the connection with the channel returned by (*Client).Done() which helps with long connected publishers, checking that before the Publish call results in similar behavior as with the subscriber. So I wouldn't call it an issue if you don't pull in your update :)

[2019-08-13 13:10] robfra31 commented on #146
@jurjen96 Thank your answer, I will try from my part.

@martin31821 I would like to know how the use of MsgPack via wamp.2.msgpack is defined in the Nexus router configuration ? Is it a special parameter to set in the JSON file ?

[2019-08-13 16:06] martin31821 commented on #146
@robfra31 if your client announces msgpack, the router should pick it up implicitly. (I'm not sure for nexusd, but our nexus-embedding router does this).

[2019-08-14 15:59] bevand10 commented on #120
Perhaps a new issue?

Executed 5 mins ago...

[code]

[2019-08-20 08:29] robfra31 commented on #146
@martin31821 Do you know the strategy for choosing the serializer in Nexus ? Is it by order in the list of the possible serializers (the first is chosen if possible, if not it is the second, etc..) or is it according to the other client already connected to the realm ?
For example:
- A client is connecting to the Nexus router with a MsgPack serialization
- Another client joins the realm and announ

[2019-08-20 08:52] martin31821 commented on #146
For the first question: should be the first serializer which both parties support.
Second question: Yes, the router will always deserialize all messages, process them and then reencode them.

[2019-08-21 14:15] mjentsch commented on #144
@gammazero how would you prevent subscription/registration loops using federation agents connecting as normal clients to other routers? There seems to be a problem that clientA connected to routerA subscribes to a topic. The federation agentA (on routerA) detects that and subscribes to that topic on routerB it is connected to. On routerB is federation agentB running who detects this subscription i

[2019-08-24 18:49] gammazero commented on #194
Fixed by #195

[2019-08-24 18:49] #194 closed

[2019-08-25 01:59] gammazero commented on #120
@bevand10 I think that Gorilla needs freshening:
`go get -u github.com/gorilla/websocket`

[2019-09-15 03:19] #187 closed

[2019-09-20 23:30] SnareChops opened #201 "go.mod missing v2 in module name"
Go 1.13

`go get github.com/gammazero/nexus@v2.1.3` fails with

[code]

According to my understanding of the go mod system the `go.mod` file in the nexus project should have the module declared as `github.com/gammazero/nexus/v2`

The error message posted above has been confirmed to be backwards by the go team, and they have submitted a patch. It states that it should *not* be v2, when it should st

[2019-09-21 02:26] dcarbone commented on #201
This package was at V2 prior to modules existing. It therefore has the +incompatible tag in go.mod. The upstream go.sum, part of go 1.13’s proxy implementation, does not support “incompatible” packages.

To fix the issue you’re currently seeing, add `github.com/gammazero/nexus` to your `GOPRIVATE` ennvar entry.

Moving to a whole new package path would be a good idea at some point, but that will g

[2019-09-23 20:57] gammazero commented on #201
@dcarbone Do you have a recommendation on the best (causes people the lease problems) way of handling this?  I would prefer not to move everything under a `nexus/v2` path, since the current repo is already v2.

What I want to do is simply change the version to 1.1.3, and pretend 2.x never existed.  However, I think that would cause more problems and confusion.  What would work best for you?

[2019-09-23 21:07] dcarbone commented on #201
@gammazero: i have...many opinions on go modules, however i think the best solution would be this:

1. Leave v1 and v2 of nexus as-is
1. "Release" version `v3.0.0` with a `go.mod` entry of `github.com/gammazero/nexus/v3`.

I suggest this for a few reasons:

1. As you correctly identify, forcing existing users of v2 to add a `/v2` suffix to each reference of nexus is a big ask (and, to be blunt, a

[2019-09-23 21:26] gammazero commented on #201
That seems like the most reasonable approach after reviewing recommended versioning standards.  So, that being the plan, this would be a great time to implement any compatibility-breaking changes.  If we want to rework the client API, that could be done now.

[2019-09-25 17:02] dcarbone commented on #201
I agree. Unfortunately I've not had a chance to work on the updated client interface much :\

[2019-09-29 13:27] gammazero commented on #201
Here is the new v3 branch that fixes this issue as well as makes a number of breaking changes that clean up APIs.  See if [these changes](https://github.com/gammazero/nexus/commit/2f3ded7c0577b7b274912c98ce60edeff3d4594c) look reasonable, and I will tag the v3 branch as `v3.0.0` and make it the default branch.  If there are other breaking changes that you want, now if the time to suggest them.

[2019-09-30 07:33] gammazero commented on #201
@martin31821 I am going to release nexus v3.  This is a major version revision, and has breaking [changes](https://github.com/gammazero/nexus/commit/2f3ded7c0577b7b274912c98ce60edeff3d4594c) resulting from API refactoring and cleanup. If you have some time, please let me know if there are additional changes you thing should be made as part of a v3 release.

[2019-09-30 09:09] dcarbone commented on #201
@gammazero: i’m currently in the middle of the mediterranean without decent access to internet, i can have a look after i get back to land later this week.

[2019-09-30 09:43] martin31821 commented on #201
@gammazero looks good, I don't see more required breaking changes.
We can do additions to the existing API in minor versions, so I think we should be good to go here.

[2019-09-30 15:44] neiledgar opened #202 "Handing dropped Events"
I am trying to implement a reliable event delivery using the nexus Pub/Sub. I can tune the WebsocketServer.OutQueueSize to match my use case but at some point a slow client will cause messages to be dropped:

2019/09/30 15:58:45 !!! Dropped EVENT to session 1873459742953018: blocked
2019/09/30 15:58:45 !!! Dropped EVENT to session 1873459742953018: blocked
2019/09/30 15:58:45 !!! Dropped EVENT to

[2019-10-01 23:53] gammazero commented on #202
There are a few ways to handle this, but the best may depend on the cause.  Are you seeing this because the receiving client is slow and the transport itself is backed up preventing the router from sending outgoing messages fast enough, or does this happen due to a burst messages that fills up the outbound queue before messages are written to the transport?

Generally, the way this has been handle

[2019-10-02 13:26] neiledgar commented on #202
The failure occurs during a burst of messages which causes high CPU loading. Both wamp router and wamp client are running on the same host, athough the communication is over a websocket. Hence
I'm not sure if the failure is the transport being backed up or if the websocketpeer cannot write the data quickly enough. How would I tell?

We have already tuned the `OutQueueSize` to 128. We don't wish to

[2019-10-03 10:23] neiledgar commented on #202
I modified our test to use a local client inside the wamp router binary and listen for wamp.session.on_join events using `client.ConnectLocal(nxr, config)` to avoid any socket serialisation. I still see the dropped events with the default `linkedPeersOutQueueSize = 16`. So I believe the problem is the outbound queue is filled up before messages are written to the transport.

On a side note: I see

[2019-10-03 20:17] gammazero commented on #202
Unfortunately, the local transport does not have a configurable value.  It is set statically here:
https://github.com/gammazero/nexus/blob/v3/transport/localpeer.go#L9

The outbound queue implementation needs to be reexamined, since any configured outbound queue size will always be wrong from some use pattern/client/network.  I am looking at using an unlimited size queue per client, something roug

[2019-10-04 16:46] neiledgar commented on #202
Making the queue dynamic sounds the best option as not all clients are equal and having a fixed queue size for all is a bit of an overhead, so I'm in favour of your suggestion. I agree the queue size can't be infinite and so the behaviour when a maximum is reached as to be configured. Would this behaviour be specified in `RealmConfig` or would the client request the behaviour they prefer?

A confi

[2019-10-05 18:32] gammazero commented on #202
If the maximum queue size is configurable, it should be so on the server since that value is associated with server resources.  I am debating whether or not the router should drop a client that has exceeded limits, or should emit a meta event that allows a trusted admin client to do that.  The former is simpler as it does not require users to implement a client for that purpose, but the latter all

[2019-10-08 07:30] kuema opened #203 "[Feature request] Include version number/git hash in Nexusd build"
Is it possible to include the current version number (latest git tag) and/or the git hash into the build somehow?

That information could then be printed to the console on start-up, something like:

`2019/10/08 09:08:12 Starting router; version v2.1.3; git 2b9db9a`

We are running Nexusd on several machines now, but - besides from proper documentation (of course 😃) - you can never be sure which ve

[2019-10-09 11:40] neiledgar commented on #202
For sure the limit of the queue size should be a server configuration option. However, the behaviour when the limit is reached (drop client, drop event, emit meta event) might be something a client could request. Some clients may tolerate dropped events, other clients may not.

For my use case I am happy to specify the same behaviour on all clients in the realm

[2019-10-10 15:54] mch12345 opened #204 "Question on Nexus CPU usage"
Hello,

I did few tests using Nexus with the following configuration :

- Nexus launched on a master machine

- A subscriber coded in Python on the master machine aswell

- A Publisher coded in Java on a remote host

The Publisher sending a big load of data as frequently as he can, to try to flood the Nexus.

I noticed that the Nexus was dropping events because it was receiving too many requests,b

[2019-10-12 20:22] SnareChops commented on #201
@gammazero Closing as resolved with v3

[2019-10-12 20:22] #201 closed

[2019-10-14 00:06] gammazero commented on #204
In the first case, only two goroutines in nexus are doing the work: the client handler, and the broker.
 The client handler reads/decodes the incoming message, then hands the message off to the broker for routing.  The broker looks up the destination client and writes to that client's outbound channel.  If the channel is full/blocked, then the message is dropped.  You are probably seeing all the w

[2019-10-16 21:15] SnareChops opened #205 "Frequently and consistently dropped connections"
I have exhausted all options other than posting here. Searched google over multiple months and have yet to come up with an explanation or solution to this issue.

I have a decent sized microservice stack all connected to a singular nexus router. Traffic is still low as I am in development. Connected to this stack are also a number of raspberry pi's (using the nexus client library, written in go),

[2019-10-23 08:59] neiledgar opened #206 "No way to enable websocket ping/pong from client"
We have a scenario where the network between the websocket client and the router is lost. The router detects this failure quickly because we set the WebsocketServer.KeepAlive. However, the client takes much longer and falls back to the TCP connection keep alive.

There appears to be no way to configure the websocket ping/pong from the client. You mentioned this might be considered https://github.c

[2019-10-26 17:44] ickby opened #208 "Calling a progressive rpc function registered with autobahn does not work"
Hello,

I have a client written in python with autobahn, that registers a rpc function utilizing progressive results. However, it fails to deliver the progressive results when I call this function from a  nexus client. Both are connected via the nexus router.

I made a little hacked example. This [nexus code](https://gist.github.com/ickby/4c9cb98410bd7909f36d15e43f915c1b) should work with the defa

[2019-10-29 11:29] jurjen96 commented on #146
Hey guys, for another project we have to use Autobahn-Java and we encountered the same problem again as described above (`did not receive HELLO`). After some digging through the Autobahn Java code, we found out that there is an issue with negotiation which serializer to use. On the [onConnect](https://github.com/crossbario/autobahn-java/blob/master/autobahn/src/main/java/io/crossbar/autobahn/wamp/

[2019-11-16 22:44] gammazero commented on #206
Resolved by #207

[2019-11-16 22:44] #206 closed

[2019-11-16 22:51] gammazero commented on #205
Sorry for the terribly long delay in responding, have been away for some time and will try to reproduce and fix the issue.  Things to check that occur to me are:

1) Keepalive for websocket - need more time if enabled?  Enable if not enabled.  Same with TCP if using TCP sockets.
2) Need to update gorilla websocket library?
3) Something specific to network or server?  Packet dump may show what is h

[2019-12-03 12:13] camohob opened #212 "Data race when publishing struct reference"
https://github.com/gammazero/nexus/blob/96d8c237ee8727b31fbebe0074d5cfec3f7b8a81/transport/websocketpeer.go#L187

When i use `client.Publish()` with struct reference and then change this struct - i have data race coditions, because `websocketpeer.sendHandler()` works from goroutine.

[2019-12-07 02:08] gammazero commented on #212
Been holding off fixing this as it fixed in an unpublished PR to handle message queueing outbound messages in router.  Will fix soon (target Dec. 8) if PR is not ready.

[2020-01-07 15:50] dionytadema opened #214 "Bytes and string both get encoded as strings"
after updating to nexus 3.0.0 i can no longer send bytes via msgpack with autobahn python clients, they end up as a string and may cause the client to throw a protocol error and disconnect if the bytes contain invalid utf-8

i've tested these 2 components with both version 3.0.0 and version 2.1.1 (our current production)
**backend:**
[code]
**client:**
[code]

I expected both versions to output:
[

[2020-01-14 11:07] martin31821 commented on #214
Are you able to do a pcap/tcpdump/wireshark so we can see, how your wire data looks like?

[2020-01-14 22:06] jcw opened #215 "typo"
https://github.com/gammazero/nexus/blob/5f640dbbca5be841ca59880bc768232c365e16cf/examples/simple/pub/publisher.go#L36

`s/subscribe/publish/` ?

[2020-01-21 07:50] m0netize commented on #205
Not sure if this applies in your case, but we've been using wamp for our project and ran into a similar problem. It turned out to be Cloudflare dropping idle websockets after 60 seconds (I think it was 60 seconds). I believe this is documented Cloudflare behavior. We added a ping in our clients to fix it.

[2020-01-21 10:44] dionytadema commented on #214
sorry for the late reply, i was on vacation for a week

i'll see if i can see what the router is sending so we can pin down where the problem lies

[2020-01-21 13:20] dionytadema commented on #214
alright i figured out how wireshark works again

send by backend:
result from test.str():
[code]
result from test.uni():
[code]

[2020-01-21 13:52] martin31821 commented on #214
at this point, I think it's a problem with autobahn|python. I just used the msgpack bytes you provided, threw them into https://kawanet.github.io/msgpack-lite/ to decode/transcode into JSON and I see the following:

test.str() gets encoded as Object of type 'Buffer' with a single data item (97)
whereas test.uni() gets encoded correctly as string with content "u"

In both cases, the message you pro

[2020-01-21 14:28] dionytadema commented on #214
sorry, i was still editing that message, i found the correct packages:

when ran agains the 3.0.0 version i get the folowing websocket packages
backend sends yield, 'bytes' as binary (05 is the length)
`94 46 cd 01 57 80 91 c4 05 62 79 74 65 73`
router sends result, 'bytes' as fixed lenght string (a5)
`94 32 01 80 91 a5 62 79 74 65 73`
so clearly the router changes the encoding

[2020-01-21 14:30] dionytadema commented on #214
if you want to inspect for yourself check this wireshark dump

[msgpack.pcapng.gz](https://github.com/gammazero/nexus/files/4091493/msgpack.pcapng.gz)

anyways i'm sure it's something to do with nexus, as the exact same python code works fine when connecting to a 2.x version in the same environment and breaks with a 3.0.0 router

[2020-01-21 14:45] martin31821 commented on #214
Using the pcapng, I can indeed confirm that nexusd is converting the buffer into a string during processing the message.

[2020-01-21 15:02] dionytadema commented on #214
we don't use much config, as we run the router from within a go application

it's started like this:
[code]
other than that we just set the websocket timeout on the server but that shouldn't have anything to do with it

might it be something with the dependancies?
my go mod file specifies:
[code]

[2020-01-21 15:50] martin31821 commented on #214
I managed to reproduce it within nexusd, so it's definitely a problem with the ugorji/go package.
As a workaround (if you're dealing with binary data) I suggest you to register a msgpack extension and use this for binaryData.

[2020-01-21 16:01] dionytadema commented on #214
hm alright, thanks for looking into it

i'll revert to version 2.1.3 for now as that sounds like less work (our deployment for the clients is quite convoluted)

[2020-01-21 23:31] dionytadema commented on #214
It may be fixed by this pull request, let's hope it gets merged soon

https://github.com/ugorji/go/pull/327

[2020-02-12 17:44] bkneis opened #218 "Is any work being done to create a HA wamp client"
Reading the [following page](https://github.com/gammazero/nexus/wiki/High-Availability) in the wiki, there seems to a design to allow a "federated wamp client" to connect to multiple redundant wamp routers. Is there any work being / been done on this?

Many Thanks

[2020-03-09 23:44] #215 closed

[2020-03-10 00:07] gammazero commented on #214
I will update to latest ugorji package

[2020-03-10 10:19] gammazero commented on #203
Done.  Build using `make`.  Running nexusd logs server version when starting.  You can also print the version by: `nexusd -version`

https://github.com/gammazero/nexus/commit/bce0601c2dfc91b9b8952514b16124c398d63abe

[2020-05-07 06:13] u774r4v4d1n commented on #144
@gammazero has there been any work in HA, Load Balancing and Horizontal Scaling?
I would like to contribute.

[2020-05-07 06:17] u774r4v4d1n commented on #218
@bkneis @gammazero still waiting on this.

[2020-05-07 07:09] martin31821 commented on #144
@u774r4v4d1n there has been some research, primarily regarding state synchronization in a distributed scenario (for availability, not for scaling).

cc'ing @fin-ger, his project https://github.com/fin-ger/building-a-distributed-wamp-router gives a nice overview of the results.

[2020-05-08 08:33] dionytadema commented on #214
seems like ugorji has stopped maintaining his repos so i doubt that PR will ever be merged

[2020-06-02 07:33] Lois31 commented on #214
Hello,
We are having exactly the same problem. When transmitting data of type bytes, we recieve data of type string.
I tested with the crossbar router and everything is working properly.
If the ugorji package is no longer maintained and it poses a problem, do you plan to replace it in the implementation of Nexus? If yes, on what horizon?
Thanks.

[2020-06-03 06:53] Lois31 commented on #214
I tried the v2.1.1 version of Nexus, as indicated at the beginning of this ticket, however I still get the same result...
The problem is present in versions v2.1.1, v2.1.3, v3.0.0.

Below my configuration and my test:

- Python3.8
- autobahn 20.4.3
- msgpack 1.0.0
- Nexus 3.0.0

Below an example allowing to highlight the problem:

**Backend.py**
[code]

**Client.py**
[code]
Here are the steps of m

[2020-06-30 20:58] siosphere opened #219 "Doing an RPC call in an event listener callback hangs"
We were hooking up the subscription topic events, and when attempting to load subscription information in the callback, it would block until the context eventually timed out.

Running the RPC call in a go-routine alleviated the issue.

Hangs indefinitely or times out
[code]

Works as expected
[code]

I was a little surprised, considering the readme said it should all be non-blocking

[2020-07-15 11:49] azamat-sharapov commented on #146
See [my comment here](https://github.com/crossbario/autobahn-java/issues/432#issuecomment-658721919) for similar problem.

[2020-07-17 04:25] goldcode88 opened #220 "caller timeout issue"
For example:
Long-duration callee need consume 10 seconds.
We set caller timeout = 30 seconds.

[code]
run callee
$./callee
And then, run caller
$./caller
After 2 seconds, kill callee, I found that the caller never timeout, where it hang on for ever.

[2020-08-24 04:00] jonahzheng commented on #220
try it.
`		ctx := context.WithTimeout(context.Background(), time.Second)
		kwArgs := wamp.Dict{
			"wait": true,
		}
		result1, err1 = caller.Call(ctx,"sum", nil, nil, nil, nil)`

[2020-10-21 01:43] cameronelliott commented on #185
If you got here like me, because you got the error above, you might need to replace some of the import paths:

From/examples/out-of-date:
[code]

Fixed, up to date path for getting V3.x.x
[code]

[2020-10-25 00:23] gammazero commented on #218
@bkneis Not to my knowledge.  So far there has been very little ask for building this into the nexus router itself.  If there was sufficient interest, then I think this would be a great extension to nexus, probably best done as a separate project, at least initially.

[2020-10-30 05:27] gammazero commented on #220
This was intentional, so that handling a timeout could be done either by the Callee or the Caller.  The Callee can cancel the call when processing a request is taking too long, or the Caller can cancel the call if the Callee is taking too long to respond.  Having the Dealer handle the call timeout requires a timer for every pending call.  Each timer must be removed when the Callee responds or when

[2020-10-30 20:13] cameronelliott commented on #220
Well, the spec is pretty wide open about this. [Timeouts](https://wamp-proto.org/_static/gen/wamp_latest.html#call-timeouts)

The spec allows for timeouts at any of: caller/callee/dealer
It doesn't mandate them handled anywhere, and the feature is in beta.

Both Wampy.js and Autobahn show examples of using js/setTimeout,
for using timers with Rpc, and I am doing the same. (So this might
be a good

[2020-10-31 01:57] gammazero commented on #220
There are really two issues here:
1. When a callee has been called, but has not yet returned a response and disconnects before a response is returned, then pending calls will hang until the caller decides to cancel them.  PR #228 fixes that by canceling any pending calls to a callee that disconnects.
2. When timeout option is specified with call, but callee does not support it or does not honor it

[2020-10-31 03:25] gammazero commented on #219
The router is non-blocking in that no session will ever block another session, and blocked output from a session will not block input from the session.  The client is non-blocking in that different sessions will not block each other.  So, I likely need to take another pass at the documentation.

To explain the [expected] behavior above...
You cannot call a client function from within a callback.

[2020-10-31 18:12] gammazero commented on #212
A number of fixes have been made since this issue was filed, but I am not sure if your issue has been addressed.  Please tell me what structure you are seeing a race in so that I can determine if this is something that needs to be copied or synchronized (or is even a problem anymore).

[2020-10-31 22:16] gammazero commented on #205
Keep alive can now be configured for client as well as server.  It is off by default, so enabling it may solve this issue.  Generally it is enabled on only the server (router), but you can configure it for client as well now, as of v3.0.1.

[2020-10-31 22:17] gammazero commented on #220
Both issues discussed here are fix in nexus v3.0.1.

[2020-10-31 22:17] #220 closed

[2020-11-02 09:10] kuema commented on #203
Works as expected. I think we can close this one.

Thank you!

[2020-11-02 09:10] #203 closed

[2020-11-03 19:42] gammazero commented on #218
There is some renewed interest in exploring HA solutions, and I will direct those discussions to #144. This includes any discussion of the federated WAMP client, or federated WAMP routers.  So, I am closing this issue to keep these discussions on #144 .

[2020-11-03 19:42] #218 closed

[2020-11-18 06:45] gammazero commented on #208
@ickby I ran you example code _exactly as is_ and it worked perfectly.  Everything looks good in both the nexus and autobahn client.  Perhaps something was fixed on in one of the code bases allowing this to work.  There is no fix, that I am aware of on the nexus side, that would have made this work.

I have also updated the [interop autobahn-python](https://github.com/gammazero/nexus/tree/v3/examp

[2020-11-18 15:32] gammazero commented on #212
@camohob I cannot find how to reproduce this issue.  There should not be any data race with intended use of the API.  If this is still a problem then please reopen this issue and provide information on how to reproduce what you are seeing.

[2020-11-18 15:32] #212 closed

[2020-11-23 10:45] Lois31 commented on #214
Hello gammazero,

Have you had time to spend some time on this issue ?
Currently, in order to send payloads, we must modify the payload before each send and at each reception...
Those which decrease performance and complicate the exchange of data between languages. What goes against WAMP technology ...

Thank you in advance for your return

[2020-11-23 18:52] gammazero commented on #214
@Lois31 I was hoping this was resolved by updates to codec dependencies, but apparently that has not been the case.  I will spend time this week to resolve this as it looks like a bigger problem than I thought.  Rewriting payloads is a terribly way to suffer. Let me see what can be done.

[2020-11-24 08:27] benk79 opened #231 "RAM memory usage"
I am facing a memory usage issue. In fact memory usage goes up, but never down even if disconnecting all clients.

Tests are done on a debian server where i set up nexusd as service. At beginning memory usage is very low. Try connecting 3k clients, then block the clients (dirty exit on clients). Memory usage never comes down. Is it due to dirty exits of clients or not, i don't know.

This is my co

[2020-11-24 16:08] gammazero commented on #231
Memory should eventually be returned, when GC reclaims it.  If you are not seeing memory use decrease, then perhaps there is an issue that I need to investigate.   Please help me look into this by answering the following questions:

1. How are you disconnecting your clients?  Sending GOODBYE message, killing process, other?
2. What client are you using (nexus, autobahn, etc.).
3. What transport ar

[2020-11-25 09:45] gammazero commented on #231
Are you looking at memory allocated to the process or by memory used within the process?  If you are then you may not see much if any memory returned to the OS.  Here is an explanation:
https://utcc.utoronto.ca/~cks/space/blog/programming/GoNoMemoryFreeing

When periodically sampling memory stats in the router, I do see memory reclaimed:
[code]
Notice `HeapAlloc` goes from 3408288 to 705168. After

[2020-11-26 12:28] gammazero commented on #214
@Lois31 The problem came from msgpack being configured to decode raw bytes into strings.  When the router decoded a msgpack message containing raw bytes, those bytes were into a string.  When this data was sent out to destination client, it was then re-encoded as a string and no longer as bytes.  This caused clients expecting bytes to get a string unexpectedly.

This is fixed by using the new msgp

[2020-11-26 13:13] benk79hes commented on #231
1. How are you disconnecting your clients? Sending GOODBYE message, killing process, other?
    ->  I noticed the problem making test which were killing the process, but then also tested with clean closing with goodbye, and the problem was still there, exactly the same.

2. What client are you using (nexus, autobahn, etc.).
    -> I am using autobahn js and autobahn python.

3. What transport are

[2020-11-26 13:31] gammazero commented on #231
It looks like the router memory use eventually returns to about where it started, regardless of how clients disconnect.  Tested with nexus and autobahn clients.  PR #233 added the ability for the router to log memory stats periodically.  See [MemStatsLogSec](https://godoc.org/github.com/gammazero/nexus/router#Config) in the router config.  You can use this to track memory allocation over time.  Yo

[2020-11-26 15:07] gammazero commented on #219
I have added a section on [Client Concurrency](https://github.com/gammazero/nexus/wiki/Client-Concurrency) to the documentation describing the above.

Since this is not a defect, but expected behavior, and docs have been amended to describe it better, I am closing this issue.  If you feels it was not sufficiently addressed, please reopen.

[2020-11-26 15:07] #219 closed

[2020-11-26 15:44] benk79hes commented on #231
Thanks to you @gammazero, i will definitely validate it by next monday, but i am confident it will be ok. I will not miss to confirm.

[2020-11-29 08:10] gammazero commented on #205
Looks like this issue can be remedied by use of websocket keepalives, either server, client, or both.  So, closing issue.

[2020-11-29 08:10] #205 closed

[2020-11-29 08:12] gammazero commented on #208
Please see the examples noted above and retest with the latest version of nexus (v3.0.2). As far as I can confirm, this issue is fixed and working with your examples.  If there is still a problem, please reopen issue.

[2020-11-29 08:12] #208 closed

[2020-11-29 08:14] gammazero commented on #231
After doing some memory profiling, I still did not see any major leaks.  However, I was able to make an improvement by reducing the number of allocations of empty types.  This is part of nexus v3.02..,

[2020-11-29 08:16] gammazero commented on #214
@Lois31 The latest release v3.0.2 includes the fix for this issue, and unit tests to demonstrate.

[2020-11-29 14:21] dcarbone opened #235 "emptyDict implementation introduces problems"
The new `emptyDict` implementation is dangerous as it means that if a local peer connected to a realm modifies a field in a message that has been set to the `emptyDict` var, it changes the state of the entire server.

I have created a test for this illustrating the problem, and will add a PR for it.  I would recommend reverting this change.

[2020-11-29 14:28] dcarbone commented on #235
PR #236 provides a test with simple illustration of the problem.

[2020-11-29 22:57] gammazero commented on #235
There was an assumption that local clients would not alter message contents, and being local clients that are trusted, they can be trusted to behave. Maybe this is not a safe assumption.

If we want to allow local clients to alter message contents, this also means there will need to be some changes to things like publishing the same event to multiple clients, or calling RPC that goes to multiple c

[2020-11-29 23:21] dcarbone commented on #235
1. My primary concern is that it _is_ possible, and therefore it is very likely it is being done by somebody somewhere.  Introducing this change could and probably will cause issues for these people.
1. I haven't spent the time to track everywhere this may cause issues, but given all of the (very useful, mind you) meta calls you have added as part of the Nexus implementation, the side effect of th

[2020-11-29 23:40] gammazero commented on #235
I agree with your assessment, and will revert the changes having to do with emptyDict.  Additionally, local clients will make copies of the event arguments so that changes to those do not affect other clients (test confirms this is a problem as well).

[2020-11-30 06:15] dcarbone commented on #235
Awesome, man.  Thanks for all your hard work on this implementation!

[2020-11-30 09:58] Lois31 commented on #214
@gammazero I don't see the v3.0.2 release into https://github.com/gammazero/nexus/tags ...

[2020-11-30 11:21] gammazero commented on #214
@Lois31 Sorry, that is v3.0.3 which is now available.

[2020-11-30 11:29] gammazero commented on #235
Thank you very much for catching this issue and responding quickly.  This was a huge help!

We can follow up with memory profiling in a separate issue.

[2020-11-30 11:29] #235 closed

[2020-11-30 12:54] Lois31 commented on #214
I just tested and it works!
Thank you very much for this correction.

[2020-11-30 15:02] benk79 commented on #231
@gammazero I do confirm HeapAlloc is going down with GC. However i had to add this in the code as your PR does not show it.

`r.log.Printf("MemStats: Alloc=%d Mallocs=%d Frees=%d NumGC=%d", m.Alloc, m.Mallocs, m.Frees, m.NumGC)`

[2020-11-30 15:09] #231 closed

[2020-11-30 17:10] gammazero commented on #214
Thank you @Lois31 for confirming this.  Closing issue.

[2020-11-30 17:10] #214 closed

[2020-12-07 15:47] alessandro-c opened #240 "Event History implementation."
Hello 👋 and thank you for maintaining this repository.

Is there any plan to implement a persistent [Event History](https://wamp-proto.org/_static/gen/wamp_latest.html#event-history) any time soon?

Thanks in advance

[2020-12-22 20:06] gammazero commented on #240
Yes, planning on doing that.  Need to get one point of clarification to the WAMP spec first:
https://github.com/wamp-proto/wamp-proto/issues/217#issuecomment-749750503

Otherwise, the plan is to have implementation equivalent to what Crossbar provides:
https://crossbar.io/docs/Event-History/#event-history

[2021-02-18 12:19] aga12345 opened #242 "go routine leak in websocketPeer recvHandler"
Hi,

I am running into an issue where cleanup of closed connections is not happening properly. I am using keep alive server so that proper cleanup happens, but I can see lot of go routines running on my machine waiting at line 379 in https://github.com/gammazero/nexus/blob/v3/transport/websocketpeer.go.

Can someone please help me understand when can this happen and how to fix this?

Thanks

[2021-03-03 15:28] benk79 opened #243 "Allow external client to act as authnticator"
Hi @gammazero ,

i'm following your project and after deep research i could not find a way to register a service for being used as external authenticator service like is possible with crossbar. Probably it is not in the specification, but it would be great to have a client beying allowed to register as authenticator (role_authenticator, or what else), so that the authentication logic can be develo

[2021-03-03 16:20] martin31821 commented on #243
you might want to check out github.com/EmbeddedEnterprises/autobahnkreuz

It is a wamp router built upon nexus with pluggable authenticators and authorizers.

[2021-04-24 23:21] DewitteRuben opened #245 "client connection gets dropped due to it being unable to reply to a socket ping"
Setup:
- Raspberry Pi running the WAMP client and Docker, connected to a Crossbar instance
- RPC calls are used to start/stop docker builds/pulls/runs

It seems that, from what I've seen, that the client is blocked and with that unable to reply to a ping from the socket in question (a crossbar instance in this case). This causes the client to receive a Done signal forcing me to re-establish the so

[2021-04-26 23:00] gammazero commented on #245
If you have control of the server, disabling websocket keep-alives may be a temporary solution.  Seems similar to this: https://github.com/gorilla/websocket/issues/97

So, I may need to replace the ping handler as described [here](https://github.com/gorilla/websocket/issues/97#issuecomment-194967563).

[2021-04-28 07:54] DewitteRuben commented on #245
@gammazero Thanks for the reply!

Sadly, the temporary solution of disabling the keep-alive is not an option for us. We currently use the keep-alives to toggle a 'device' it's connection status in our database. So we need our crossbar instance to be aware if one of our clients has an active connection or not.

The issue you're referring would explain the behavior we are experiencing, might take a

[2021-04-28 16:38] gammazero commented on #245
If you can try PR #247 and see if that fixes the situation for you, then I can merge that if that is the solution.

[2021-04-28 17:28] DewitteRuben commented on #245
@gammazero Thanks a lot for the effort, and reaction time.

Unfortunately it seems that this did not resolve the issue. With further investigation it seems like this issue does not occur when there the internet connection is established with ethernet, so it might just be related to some OS configuration, the Raspberry Pi's WiFi hardware, or maybe a power issue under heavy CPU load. I also can't re

[2021-04-29 18:49] gammazero commented on #245
I will leave the PR open until I have time to evaluate whether it offers help in any situation.  As for your case, maybe try enabling keep-alives on the client side.  Even though the incoming pings are not getting through, maybe outgoing pings would keep the connection alive.

To enable client-side keep-alives, set the `WsCfg.KeepAlive` in the client config:
https://github.com/gammazero/nexus/blob

[2021-05-01 00:20] DewitteRuben commented on #245
Thanks for the suggestion, Sadly, also have tried that, to no avail. 😦
Will post an update here when we figure out exactly why...

[2021-05-25 15:13] jig925 opened #248 "Sending data to dynamic authorizer"
Hello, I want to use a dynamic authorizer. I want to authorize the client based on some information sent by the client.
In JS this is how it is done:
[code]
The authorizer then accesses that data like:
[code]

I was wondering if there is an equivalent of "authextra" in the client.Config. This is what I currently have:
[code]

Thanks.

[2021-07-03 07:07] gammazero commented on #248
Yes.  The authorizer will be able to see the items you put in `HelloDetails` in the `session.Details`.

[2021-09-01 14:34] om26er opened #249 "Does Nexus Support Dynamic Realms ?"
Does Nexus supporting creating/starting a new realm on demand, with custom config ?

[2021-09-10 15:50] om26er commented on #249
ping @gammazero ^

I also wonder if multiple nexus routers could work together to make a cluster ?

[2021-10-05 12:55] muzzammilshahid opened #250 "How to implement CryptoSignAuthentication using nexus?"

[2021-10-05 15:17] asimaarbi opened #251 "Add CryptoSignAuth Example."
I'm having issue while implementing CryptoSignAuth, Please add an example to easily understand.

[2021-10-24 02:04] om26er opened #252 "client: WAMPCRA with salting is broken"
Using Crossbar as WAMP router and the Nexus client library, I can connect to Crossbar when using WAMPCRA without salting. If salting is enabled, the Nexus client library fails to connect.

autobahn-python is able to connect to Crossbar successfully, so I believe the issue lies somewhere in Nexus.

[2021-10-24 02:05] om26er commented on #252
Here is how we are using CRA https://github.com/codebasepk/wick/blob/6f390db0745744eb66ab190db6fce67bbe9cdab5/wamp/main.go#L119

[2021-11-22 14:59] jschmid opened #253 "Router returns an ABORT message with the wrong parameters"
The WAMP specification says that the ABORT message should send a dictionary with a `message` key.
https://wamp-proto.org/_static/gen/wamp_latest.html#abort-0

Most of the implementations I have found comply with it:

* [WampSharp](https://github.com/Code-Sharp/WampSharp/blob/82a672e38cdf9489968d66d8b18a926cfd198ff7/src/netstandard/WampSharp/WAMP2/V2/Authentication/WampAuthenticationException.cs#L2

[2021-11-22 18:17] gammazero commented on #253
It was compliant with an older version of the protocol spec.  I will update it.

[2021-11-23 06:33] jschmid commented on #253
Thanks!

[2021-11-29 08:21] #253 closed

[2022-01-13 09:54] #250 closed

[2022-01-15 05:53] gammazero commented on #252
@om26er Thank you for this analysis of the problem.  I have applied your fix in PR #255.

[2022-01-15 06:05] gammazero commented on #251
@asimfarooq5 I am guessing that your problem is the same as described in #252.  If so, an example would not help in this case because it was not a misuse. This was due to an issue within the crauth package when using derived keys.

Currently, the only example is [here](https://github.com/gammazero/nexus/blob/v3/aat/auth_test.go#L28).

[2022-01-15 06:36] Mahad-10 opened #256 "How to describe Specific(CryptoSign, Ticket) Authentication for Router?"
I am running nexus router and i want to describe specific authentication type for a realm. I couldn't find anything in the nexus.json file.

[2022-01-15 08:22] gammazero commented on #252
If latest change fixes this issue, please close PR.

[2022-01-15 08:37] gammazero commented on #256
An example of specifying an authenticator for the router to use is [here](https://github.com/gammazero/nexus/blob/v3/aat/main_test.go#L136).

The router is configured with a list of [Authenticator](https://github.com/gammazero/nexus/blob/v3/router/auth/authenticator.go#L22) interfaces.

[2022-01-15 20:32] om26er commented on #251
I believe this issue is about CryptoSign and not WAMP-CRA. We didn't find any examples about cryptosign when we were looking. However we did figure that out eventually by looking at the source code. https://github.com/codebasepk/wick/blob/15d2e5c5ddeb048ea0cf32eaff4f5f3545e0f5d6/wamp/main.go#L169

[2022-01-18 16:13] oberstet commented on #252
@om26er ^?

[2022-01-21 14:38] DewitteRuben commented on #245
I think the ping changes actually fixed the issue, maybe I had incorrectly applied the patch back then.
In any case, since I updated our go dependencies to their latest version, (so also the nexus client to 3.0.4), I cannot seem to reproduce this issue anymore, so I'm going to close it for now. Thanks

[2022-01-21 14:38] #245 closed

[2022-01-26 12:52] om26er commented on #252
Fixed, thanks for taking care of that

[2022-01-26 12:52] #252 closed

[2022-01-29 22:49] martin31821 opened #257 "Proposal: Metrics Support"
We've been running nexus in several workloads for a long time now and the missing observability always drove us crazy.
Therefore I'm proposing to add metrics support to nexus.

This would utilize the prometheus client library and expose the following metrics:

- Bytes in/out
- Messages in/out
- Publications per URI
- Calls per URI, track runtime into buckets
- Subscribe/Unsubscribes per URI
- Regi

[2022-02-15 10:35] om26er opened #260 "Support multiple serializers"
Currently a client has to provide the serializer that it wants to use when connecting to WAMP router. Nexus should support providing multiple WAMP serializers, just like autobahn and other WAMP clients.

[2022-02-16 16:18] oberstet opened #261 "Support for decimals in CBOR"
Just because I've also been testing with wick (Omer's tool) which is using Nexus, and against a WAMP API with lots of decimals: it seems like the CBOR serializer used in Nexus doesn't support CBOR tagged values, and also no tagged decimal fraction encoding, as described in RFC7049 section 2.4.3. pls find more details [here](https://github.com/codebasepk/wick/issues/42)

[2022-02-26 18:02] om26er opened #262 "Publish as Snap"
In order to get nexus into more devices, we need to make it available on more systems for easy installation. To that I would like to publish nexus as a snap package (https://snapcraft.io/about)

[2022-02-26 18:08] om26er commented on #262
Forgot to mention, I am willing to do the required work

[2022-02-26 19:06] om26er opened #264 "Implement router-to-router links"
Nexus is simple, fast and small. That makes it a great candidate to run in the Edge. The small size and memory footprint are especially attractive and I would like to play with the idea of Nexus forwarding it's events/procedures to Crossbar running in the cloud.

I would like to do a proof of concept and eventually make that a stable feature in Nexus, so that it can be used in the Edge. Crossbar i

[2022-02-27 23:03] om26er opened #265 "How to do cryptosign as server ?"
I have worked and found a way to connect to a crossbar instance using cryptosign https://github.com/codebasepk/wick/blob/2d7bc341f8a2938871e88c3062642773f6ffbe1e/wamp/main.go#L197, now I am looking to use nexus (wamp router) instead of crossbar, however I have not found any documentation, examples or even code in the `test_` files.

How do I use nexus for cryptosign auth

[2022-03-01 23:32] om26er commented on #265
Figured https://github.com/om26er/nexlinks/commit/dd711975e56c14aafd9d5ca51a4027cc187f8731

[2022-03-01 23:32] #265 closed

[2022-03-01 23:35] om26er commented on #264
Since Nexus's server code is also written as a library it makes it quite easy to extend it. I have started work on getting basic router to router links on this repository https://github.com/om26er/nexlinks, once it gets somewhere usable, I will propose a PR Nexus.

Do note: My Go skills are very limited, so this is a learning project and code might suck

[2022-03-03 22:10] om26er opened #266 "Support transport-level authenticators"
Currently each realm has to run it's own authenticator, this is broken design  due to multiple reasons

1. The authenticator, when called by the router, doesn't know which realm it's authenticating an authid for
2. Designs where a single database decides which realm a specific user should be allowed into, don't work with Nexus

It would be very helpful if Nexus supported a transport-pevel authenti

[2022-03-06 00:07] om26er commented on #264
Closing this issue as I later realized that Nexus is also a very good WAMP router library. So I guess keeping my project as an independent could work as well.

[2022-03-06 00:07] #264 closed

[2022-03-09 17:20] #262 closed, assigned to nobody

[2022-03-12 07:32] #256 closed

[2022-04-12 10:48] om26er opened #267 "Override caller details for relay mode"
I have implemented router to router links based on top of Nexus https://github.com/om26er/nexlinks. It extends the Nexus router to act as a relay i.e. forward all WAMP procedures registered on one router to another router.

This is especially suitable for edge-cloud scenarios. One issue I see is that when a message is relayed between two routers, the caller details are wrong, this is because the r

[2022-04-12 10:52] om26er commented on #267
I have put out a proposal for this issue. We would also need to do a similar treatment in the broker code for publish events.

[2022-04-30 22:04] #267 closed

[2022-05-18 14:03] om26er opened #269 "client: rawsocket doesn't support keep-alive"
It' doesn't support keep-alive. Need to implement that

[2022-06-05 23:51] om26er commented on #269
rawsocket doesn't have that, the clients should take care of that themserlves

[2022-06-05 23:51] #269 closed

[2022-06-08 01:49] om26er opened #271 "Move CI to GitHub actions"
Actions are fast and better integrated with GitHub, we should move to it. I can do the changes if @gammazero agrees.

Note: There are no problems with Travis for this project but GH is a bit more convenient and seems to have a better future.

[2022-06-08 14:06] om26er opened #272 "UDS: use lock file"
If nexus is running a unix domain socket transport and the system crashes, on next boot, the sock file exist and nexus fails to start.

Nexus should
1. Create a lock file
2. Start the unix transport

Some reading https://gavv.net/articles/unix-socket-reuse/

[2022-06-08 15:06] om26er commented on #272
As a PoC the below change achieved what I wanted. But of course below code would only run on UNIX based systems
[code]

[2022-07-27 15:14] om26er opened #273 "Implement Payload Passthru Mode"
Nexus currently doesn't support payload transparency. Here are some details https://github.com/wamp-proto/wamp-proto/issues/228

We are exploring E2E encryption in WAMP and payload transparency is building block for it. I am checking if this feature was explored before. Either way we are willing to contribute the required changes

[2022-07-28 18:59] om26er commented on #273
Reference to the relevant discussion https://github.com/wamp-proto/wamp-proto/pull/417

[2022-08-22 22:56] om26er commented on #260
To an extent, that supported now

[2022-08-22 22:56] #260 closed

[2022-10-10 14:45] markusbkk opened #275 "Using wamp.Dict for args instead of Wamp.List"
I'm fairly new to this library.
While I understand the basic premise, I fail to properly deserialize arguments on the callee's end.

My caller invokes the RPC function with the following args:

[code]

On the callee side I run the following

[code]

Where it says ``fmt.Println(inv.Arguments)``, how can I properly deseralize this (from its current ``[map[name:Tester salutation:Mr]]``) so I can acce

[2022-10-12 11:36] gammazero opened #277 "Replace deprecated `MsgpackHandle.AddExt` with `MessagepackHandle.SetBytesExt`"
`MsgpackHandle.AddExt`, used [here](https://github.com/gammazero/nexus/blob/v3/transport/serialize/msgpackserializer.go#L21), is deprecated: Use [`MessagepackHandle.SetBytesExt`](https://pkg.go.dev/github.com/ugorji/go/codec#MsgpackHandle.SetBytesExt) instead.

[2022-10-12 12:27] gammazero opened #279 "Convert from travisCI to github workflows"
Use github workflows to automate testing.

[2022-10-12 13:02] gammazero opened #280 "Update dependencies and require go1.18"
- Update outdated dependencies
- Require go1.18 to let us use newer golang features
  - Update deprecated go, such as `io/ioutil`

[2022-10-14 11:09] #280 closed

[2022-10-14 11:11] #273 closed

[2022-10-14 11:11] KSDaemon commented on #271
This is done and merged :)

[2022-10-14 11:11] #271 closed

[2022-10-16 11:51] gendalf commented on #251
work example
pvk - is private key with ed25519

[code]

[2022-10-17 14:10] KSDaemon commented on #251
@gendalf Thanks for the example! Can you create a PR with a docs update? Or even better: a working example in the examples directory? So anyone can find it there instead of digging through the github...

[2022-10-19 20:53] KSDaemon opened #282 "Choose websocket subprotocol preffered by client"
From the Websocket RFC6455:

For client side:

And for server side:

So if the client provides a few options for subprotocol. The server should choose the first one it supports.

Right now, if client provides a few options, Nexus choose the first one it supports (and not the first one from the client). And first in list is `json`.

So if the client sends `Sec-WebSocket-Protocol: wamp.2.cbor, wamp.

[2022-10-20 08:08] KSDaemon commented on #282
As I figured out, the problem is in the underlying [gorilla/websocket](https://github.com/gorilla/websocket/issues/822) library.
Made a fix PR there...

[2022-11-02 18:10] om26er opened #284 "Router should expose supported roles"
We are using a different websocket server than gorilla for our wamp router. It would be ideal if the router could export an API so that we can query what dealer/broker roles it supports.

[2022-11-14 11:00] KSDaemon commented on #282
So even the original author agrees that that is bug and fix is ok. But as there is no maintainer in websocket project — fix can stuck for ages.....

@gammazero What do you think? Maybe we can switch to fork with bugfix temporarily? As websocket library development is mostly frozen,  I don't expect any new features to come soon (and even bugfixes are very slow to get into the codebase). So we won't

[2022-11-14 11:07] KSDaemon commented on #282
So maybe we can switch someday to something else, like https://github.com/lesismal/nbio.  (We use it internally, pretty good XP, speed)

[2022-11-14 11:39] KSDaemon opened #285 "Progressive Calls Feature"
Implement `Progressive Calls` WAMP Advanced Profile Feature.
This is a counterpart for `Progressive call results`.

See: [Progressive Calls](https://wamp-proto.org/wamp_latest_ietf.html#name-progressive-calls) in WAMP Specification

[2022-11-14 19:01] KSDaemon commented on #275
Hi @markusbkk well, there is nothing wrong here with the arguments themselves. You just need to treat/convert your Arguments[0] to Hello struct. There are different approaches for this: manually, using reflection, or some external packages. Choose what suits best for you.

Just googling for you:
* https://stackoverflow.com/questions/26744873/converting-map-to-struct
* https://stackoverflow.com/que

[2022-11-14 19:01] #275 closed